
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Transaction en cours... </p></ngx-spinner>

    <nb-card>
      <nb-card-header>
        <nb-action><mat-icon color="primary">hourglass_full</mat-icon>Prepration Commande</nb-action>
        <nb-action  class="float-right p-2 ml-4">

        </nb-action>



      </nb-card-header>

      <div  *ngIf="!this.tagContainer"  class="row d-block p-2">
        <div class="col-12  p-5 text-center d-inline-block">
          <form [formGroup]="this.containerForm">


  <nb-select  class="width-select" size="medium" id="tagContainer" formControlName="tagContainer" fullWidth placeholder="Tag conteneur" >
    <nb-option *ngFor="let item of this.tags" value="{{item.tag}}">{{item.tag}}</nb-option>
  </nb-select>



            <br/>

          <input  nbInput class="m-2" formControlName="seuilTemperature" type="number"  fieldSize="medium" placeholder="Temperature " />
<br/>
            <mat-error *ngFor="let validation of validation_messages.temperature">
              <mat-error class="error-message" *ngIf="containerForm.get('seuilTemperature').hasError(validation.type) &&
                                                   (containerForm.get('seuilTemperature').dirty ||
                                                   containerForm.get('seuilTemperature').touched)"
              >
                {{validation.message}}
              </mat-error>
            </mat-error>
            <br/>

        <input  nbInput class="m-2" formControlName="seuilHumidite"  type="number"   fieldSize="medium" placeholder="Humidité " />
     <br/>
            <mat-error *ngFor="let validation of validation_messages.humidite">
              <mat-error class="error-message" *ngIf="containerForm.get('seuilHumidite').hasError(validation.type) &&
                                                   (containerForm.get('seuilHumidite').dirty ||
                                                   containerForm.get('seuilHumidite').touched)"
              >
                {{validation.message}}
              </mat-error>
            </mat-error>
            <br/>

        <button nbButton class="m-2"   [disabled]="this.containerForm.invalid" (click)="addContainer()"  size="small" ><nb-icon icon="plus-circle-outline"></nb-icon> Creé conteneur </button>
          </form> </div>
      </div>
<div *ngIf="this.tagContainer">
      <div *ngIf="this.filteredItems">
        <nb-accordion *ngFor="let medicament of this.filteredItems  ">
          <nb-accordion-item  [disabled]="true" hidetoggle  #item>
            <nb-accordion-item-header class="row" >
              <nb-action class="col-4 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
                <ngx-avatar  class="d-inline" [size]="40" src="{{medicament.photoUrl}}" name="{{medicament?.name}}"></ngx-avatar>

                <div style="font-size:1vw;"  class="ml-3 text-dark d-inline">{{medicament.name}}</div>

              </nb-action>

              <nb-action class="col-2 p-2 ">
                <div  style="font-size:1vw;" class="text-dark">{{medicament.quantity}}</div></nb-action>

<div class="col-sm-5 ">
<div class="float-right" >
  <a href="javascript:void(0)"  routerLink="{{medicament.id}}/add"  [queryParams]="{ tag: this.tagContainer,commandeId:this.commandeId}">  <mat-icon color="primary">add_circle</mat-icon></a>
</div>
          </div>


            </nb-accordion-item-header>
            <nb-accordion-item-body>


              <div class="row">




              </div>

              <mat-divider></mat-divider>
              <div class="float-right mt-2">


                <nb-action class=" col-lg-12 col-sm-12 col-xxl-12 col-md-12">
                  <div class="float-right" >
                    <button routerLink="{{medicament.id}}/modifier" mat-mini-fab  matTooltip="Modifier" class="mr-2" color="primary"  aria-label="Example icon-button with a heart icon">
                      <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-mini-fab matTooltip="Supprimer" color="warn" (click)="open(dialog1)" aria-label="Example icon-button with a heart icon">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </div>
                </nb-action>                </div>

            </nb-accordion-item-body>
          </nb-accordion-item>



        </nb-accordion>

      </div>
</div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucune donnée trouvée </figcaption>

        </figure>

      </div>
    </nb-card>

  </div>

</div>

