.avatar-img{
  width: 100px;
  border-radius: 100%;
  height: 100px;
}
.avatar-container{

  text-align: center;
}
mat-icon{
  cursor: pointer;

}
.input{
  width: 50%;
}
.container-form{
  text-align: center;
}
.head{
  font-family: 'DM Serif Display', serif;

}



nb-checkbox {
  margin-bottom: 1rem;
}
::ng-deep .ngx-img-wrapper
{
  height: 200px !important;
}
.form-inline [fullWidth] {
  flex: 1;
}
.error-message{
  color:red;
}
.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
.example-half-width{
  width:20%;

}
.container{

  background-color: transparent;
}
::ng-deep .mat-expansion-panel-content.ng-trigger.ng-trigger-bodyExpansion.mat-expanded{
  background-color: rgba(179, 174, 174, 0.13) !important ;
  margin-top: -20px; visibility: visible;
  padding-top: 10px;
}
.body{

  background-color: white;
}
.btn-primary{
  background-color: transparent;
  color:blue;
  border :2px solid blue ;
}
.body2{

  top:30px;
}

.ngx-dnd-container{
  height:50%;
  position: relative;
}
mat-divider.style-fix {
  height: 36px;
}
.mat-expansion-panel-content.ng-trigger.ng-trigger-bodyExpansion.mat-expanded {
  background-color: #eff3f6 !important;
}
.btn.-less-pad {
  padding-left: .9375rem;
  padding-right: .9375rem;
}
.btn {
  font-size: .875em;
  position: relative;
  z-index: 0;
}
.btn-group-sm > .btn, .btn-sm {
  padding: .6rem 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: .875rem;
  border-radius: .2rem;
}
.btn-outline-success {
  background-image: none;
  background-color: transparent;
  border-color: #1eb36b;
}
.el-collapse-item__header {
  height: inherit;
  line-height: inherit;
  padding-left: inherit;
  background-color: inherit;
  color: inherit;
  border-bottom: inherit;
}
.btn-unstyled.btn-unstyled, .btn-unstyled.btn-unstyled:active, .btn-unstyled.btn-unstyled:hover {
  border: none;
  background: 0 0;
  box-shadow: none;
}
[type="reset"], [type="submit"], button, html [type="button"] {
  -webkit-appearance: button;
}
mat-icon[_ngcontent-c1] {
  position: relative;
  top: 0px;
  left: 1px;
}
.day__btn {
  color: #acb9c5;
  margin-left: .625rem;
}
.btn-unstyled {
  padding: 0;
  border: none;
  background: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.125rem;
  min-height: 1.125rem;
}
.day__action {
  justify-content: center;
}
.day__action, .day__head {
  display: flex;
  align-items: center;
}
*, ::after, ::before {
  box-sizing: inherit;
}
.btn-unstyled.btn-unstyled, .btn-unstyled.btn-unstyled:active, .btn-unstyled.btn-unstyled:hover {
  border: none;
  background: 0 0;
  box-shadow: none;
}
.day__action {
  justify-content: center;
}
.day__action, .day__head {
  display: flex;
  align-items: center;
}
.day__btn {
  color: #acb9c5;
  margin-left: .625rem;
}
.day__date {
  display: block;
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #354052;
}
mat-expansion-panel-header{
  height :80px !important;
}
.clear-btn{
  border : 2px solid #eff3f6 !important;
  color:black;
}
.align-items-center {
  font-size: 0.9rem;
  font-weight: 500;
}
.block__head {
  padding: .625rem 1.25rem;
  border-bottom: 1px solid #e8ecef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.day__head {
  justify-content: space-between;
  background-color: #fff;
  padding: .9375rem 1rem;
  border-top: 1px solid #e8ecef;
}
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  font-size: .9rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}
.form-control-label, [role="button"], a, area, button, input, label, select, summary, textarea {
  touch-action: manipulation;
}
a {
  color: #2ea2f8;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
*, ::after, ::before {
  box-sizing: inherit;
}
align-items-center {
  align-items: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.row {
  margin-right: -9px;
  margin-left: -9px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -6px;
  margin-left: -6px;
}
*, ::after, ::before {
  box-sizing: inherit;
}
p{
  color:black;
}
.el-collapse {
  border: inherit;
}
.el-collapse {
  border: 1px solid #dfe6ec;
  border-radius: 0;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  font-size: 1rem;
}
body {
  font-family: Heebo,sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
}
.editable-list--blue .editable-list__list {
  padding-top: 0;
}

*, ::after, ::before {
  box-sizing: inherit;
}
.el-collapse-item__content {
  line-height: inherit;
  font-size: 1rem;
}
.el-collapse-item__content {
  font-size: 13px;
  color: #1f2d3d;
  line-height: 1.769230769230769;
}
.editable-list--blue .editable-list__item {
  border-left: 3px solid #dfe3e9;
  border-left-color: rgb(223, 227, 233);
}
.editable-list__item {
  position: relative;
  margin-bottom: .875rem;
  padding: .5rem .9375rem;
  background-color: #fff;
  color: #354052;
  border: 1px solid #dfe3e9;
  border-left-color: rgb(223, 227, 233);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: .25rem;
  list-style-type: none;
}
.editable-list__action, .editable-list__actions, .editable-list__checkbox, .editable-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.noview {

  text-align: center;
  padding: 1rem;
  border-radius: .25rem;

}
*, ::after, ::before {
  box-sizing: inherit;
}
.list-inline, .list-unstyled, .listing {
  list-style: none;
  list-style-type: none;
}
.el-collapse-item__content {
  line-height: inherit;
  font-size: 1rem;
}
.el-collapse-item__content {
  font-size: 13px;
  color: #1f2d3d;
  line-height: 1.769230769230769;
}
.editable-list__action, .editable-list__actions, .editable-list__checkbox, .editable-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center !important;
}
*, ::after, ::before {
  box-sizing: inherit;
}
.editable-list__item {
  color: #354052;
  list-style-type: none;
}
.list-inline, .list-unstyled, .listing {
  list-style: none;
  list-style-type: none;
}
.el-collapse-item__content {
  line-height: inherit;
  font-size: 1rem;
}
.el-collapse-item__content {
  font-size: 13px;
  color: #1f2d3d;
  line-height: 1.769230769230769;
}
.editable-list__checkbox + .editable-list__content {
  padding-left: .5625rem;
  padding-right: .5625rem;
}
.editable-list__content {
  width: 100%;
  overflow: hidden;
  font-size: .875em;
  font-weight: 500;
}

.editable-list__item {
  color: #354052;
  list-style-type: none;
}

.editable-list__content {
  font-size: .875em;
  font-weight: 500;
}
.editable-list__item {
  color: #354052;
  list-style-type: none;
}
.list-inline, .list-unstyled, .listing {
  list-style: none;
  list-style-type: none;
}

.page {
  width : 100%;
}
