@import '../../../@theme/styles/themes';

@include nb-install-component() {


::ng-deep .algolia-places {
  width: auto !important;
  display: inherit !important;
}

  ::ng-deep .leaflet-container {
    height: 250px;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin-top: -45px;
  }
}
