<div class="header-container">
  <div class="logo-container ">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo font-header" href="#" (click)="navigateHome()">
      <img src="../../assets/fin.png" width="80px" />
      DRUGSCHAINLABE</a>
  </div>

</div>

<div class="header-container">


  <nb-actions  size="small">
<nb-action *ngIf="this.role.toString().includes('ROLE_LABORATOIRE')">
 <a class="pointer">


<nb-icon icon="activity-outline" [matTooltip]="'statisitque '" routerLink="/dashboard/"></nb-icon>
 </a>
</nb-action>
    <nb-action *ngIf="this.role.toString().includes('ROLE_LABORATOIRE')">
      <a class="pointer"  [matMenuTriggerFor]="edit" mat-icon-button   >

        <nb-badge [text]="this.clientList.length" status="danger" class="badger-pos" position="top right"></nb-badge>

        <nb-icon  icon="bell-outline" ></nb-icon>
      </a>
      <mat-menu style="height: 50px"  #edit="matMenu" class="col-sm-12">
        <div *ngIf="!this.clientList" class="row">
          <div class="col-sm-6">
            <p class="mt-3 ml-3 mr-5 font-weight-bold">vide</p>
          </div>
          <div class="col-sm-6 float-right">

          </div>
        </div>
        <div mat-menu-item  *ngFor="let item of this.clientList">

          <div routerLink="/dashboard/client/approbation"   class="d-inline-flex">
            <ngx-avatar   [size]="40" src="{{item.username}}" name="{{item?.username}}"></ngx-avatar>
            <div class="row">
              <div class="col-sm-12">
                <p class="mt-3 ml-3 mr-5 font-weight-bold">{{item?.username}}</p>
              </div>

            </div>
          </div>
        </div>

      </mat-menu>

    </nb-action>
    <nb-action *ngIf=" this.role.toString().includes('ROLE_LABORATOIRE')">
      <a class="pointer" [matMenuTriggerFor]="edit" mat-icon-button   >

        <nb-badge [text]="this.commandeNumber" status="danger" class="badger-pos" position="top right"></nb-badge>

        <nb-icon  icon="inbox-outline" ></nb-icon>
      </a>
      <mat-menu  #edit="matMenu" class="col-sm-12">
        <div *ngIf="this.commandeList.length===0" >
          <div class="row">
            <div class="col-sm-6">
              <p class="mt-3 ml-3 mr-5 font-weight-bold">Aucune Commande</p>
            </div>
            <div class="col-sm-6 float-right">

            </div>
          </div> </div>
        <div ><div   mat-menu-item  *ngFor="let item of this.commandeList">

          <div routerLink="/dashboard/commande"  class="d-inline-flex">
            <ngx-avatar   [size]="40"  name="{{item?.name}}"></ngx-avatar>
            <div class="row">
              <div class="col-sm-6">
                <p class="mt-3 ml-3 mr-5 font-weight-bold">{{item?.name}}</p>
              </div>

            </div>
          </div>
        </div></div>

      </mat-menu>





    </nb-action>
    <nb-action *ngIf=" this.role.toString().includes('ROLE_GROSSISTE')">
      <a class="pointer" [matMenuTriggerFor]="edit" mat-icon-button   >

        <nb-badge [text]="this.numberBag" status="danger" class="badger-pos" position="top right"></nb-badge>

        <nb-icon  icon="shopping-cart-outline" ></nb-icon>
      </a>
      <mat-menu  #edit="matMenu" class="col-sm-12">
        <div *ngIf="this.itemm.length===0" >
          <div class="row">
            <div class="col-sm-6">
              <p class="mt-3 ml-3 mr-5 font-weight-bold">panier vide</p>
            </div>
            <div class="col-sm-6 float-right">
              <p  class="mt-3 ml-3 float-right font-weight-bold" ><nb-icon icon="hash-outline" status="danger"></nb-icon>0</p>

            </div>
          </div> </div>
        <div ><div   mat-menu-item  *ngFor="let item of this.itemm">

          <div routerLink="/dashboard-grossiste/produit/panier"  class="d-inline-flex">
            <ngx-avatar   [size]="40" src="{{item.photoUrl}}" name="{{item?.name}}"></ngx-avatar>
            <div class="row">
              <div class="col-sm-6">
                <p class="mt-3 ml-3 mr-5 font-weight-bold">{{item?.name}}</p>
              </div>
              <div class="col-sm-6 float-right">
                <p *ngIf="item.count===0" class="mt-3 ml-3 float-right font-weight-bold" ><nb-icon icon="hash-outline" status="danger"></nb-icon>{{this?.count}} * 1</p>

                <p *ngIf="item.count!==0" class="mt-3 ml-3 float-right font-weight-bold" ><nb-icon icon="hash-outline" status="danger"></nb-icon>{{item?.count}} </p>
              </div>
            </div>
          </div>
        </div></div>

      </mat-menu>




</nb-action>



    <nb-action   class="user-action" *nbIsGranted="['view', 'User.ts']" >
      <nb-user [nbContextMenu]="item"

               [matTooltip]="this.userDetails.accountAddress"
               [onlyPicture]="userPictureOnly"

               [name]="this.userDetails.username"
               nbContextMenuTag="my-context-menu"
               [picture]="this.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
