
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.font-header{
  font-family: 'Anton', sans-serif;
  color: #4d3fbd;
}

::ng-deep mat-card{

  background: #ffffffb3 !important;
}

::ng-deep .nb-theme-default .btn.btn-hero-success {
  background-image: linear-gradient(to right, #3F51B5, #3F51B5);
  border: none;
  box-shadow: 0 0 0 0 #5452b8, 0 0 0 0 #506899, 0 0 transparent;
  color: #ffffff;
  height: 100%;
}
::ng-deep nb-card{
  background-image: url('../../../assets/covers.png');
background-repeat:no-repeat;
background-size: cover;
  height: 100% !important;
}

::ng-deep nb-layout-column{
padding:  0px !important;

}
::ng-deep nb-card{
  height: 100% !important;
}

::ng-deep nb-card-header{
  display: none !important;
}
