@import '../@theme/styles/themes';
::ng-deep nb-card{
  background: white;
}

::ng-deep nb-layout-column{
  padding: 2.25rem 2.25rem 0.75rem !important;  
  }
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
