
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>
        <nb-action><mat-icon color="primary">local_pharmacy</mat-icon>Commandes</nb-action>
        <nb-action  class="float-right p-2 ml-4">

        </nb-action>
        <div class="float-right">
          <input #autoInput
                 nbInput
                 type="text"
                 (input)="onChange($event)"
                 placeholder="Recherche par Reference ou Nom client "
          />
          <nb-select class="ml-2" placeholder="Status" (selectedChange)="state($event)" [(selected)]="selectedItem">

            <nb-option value="EnAttente" selected="selected" >En Attente</nb-option>
            <nb-option value="Encours">En Cours</nb-option>
            <nb-option value="Expedie">Expédié</nb-option>
            <nb-option value="InTransit">En Transit</nb-option>
            <nb-option value="Received">Reçu</nb-option>

          </nb-select>
        </div>


      </nb-card-header>

      <div *ngIf="this.filteredItems">

        <nb-accordion *ngFor="let item of this.filteredItems   ">

          <nb-accordion-item   >
            <nb-accordion-item-header class="row" >
              <nb-action class="col-3    p-2">

                <nb-user  class="d-inline p-2 " badgePosition="bottom left"  onlyPicture size="large" *ngIf="item.status==='EnAttente'"  badgeText="EnAttente"    name="{{item?.name}}" badgeStatus="warning"  badgeText="EnAttente"></nb-user>

                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="item.status==='Encours'"  badgeText="EnCours" picture="../../assets/order.svg"  name="{{item?.name}}" badgeStatus="danger" ></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="item.status==='Expedie'"  picture="../../assets/order.svg" badgeStatus="success"  badgeText="Expedie"></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="item.status==='InTransit'" badgeText="EnTransit"  picture="../../assets/order.svg"  name="{{item?.name}}" badgeStatus="success"  ></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left"  onlyPicture *ngIf="item.status==='Received'" badgeText="Recu"  picture="../../assets/order.svg"  name="{{item?.name}}" badgeStatus="success"  ></nb-user>

                <div class="col-md-1 col-sm-0">{{item.name}}</div>
              </nb-action>

<nb-action  class="col-3 "  > Adresse: {{item.addressCommande}} </nb-action>
              <nb-action  class="col-3 "  > Reference: {{item.id}} </nb-action>

              <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Confirmer ? </nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="confirm(item.id);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>

              <ng-template #dialog let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Supprimer ?</nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="confirm(item.id);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
<div *ngIf="!!item.panier.products">
              <div  *ngFor="let product of item.panier.products| keyvalue">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col"></th>

                    <th scope="col">DCI</th>
                    <th scope="col">Forme galénique</th>
                    <th scope="col">classe thérapeutique</th>
                    <th scope="col">Classe d'appartenance</th>


                    <th scope="col">Qte</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td> <nb-user onlyPicture [picture]="product.value.photoUrl"></nb-user> </td>
                    <td> {{product.value.name}}</td>
                    <td>{{product.value.formegalenique}}</td>
                    <td>{{product.value.classeTherapeutique.name}}</td>
                    <td></td>
                    <th scope="row"><div *ngFor="let item of item.panier.productQuantities |keyvalue ">

                      <div *ngIf="product.value.id===item.key">
                        {{item.value}}
                      </div>
                    </div></th>

                  </tr>


                  </tbody>
                </table>

                 <div>
                 </div>
              </div>
</div>
              <mat-divider></mat-divider>
              <div class="float-right mt-2">


                <nb-action class=" col-lg-12 col-sm-12 col-xxl-12 col-md-12">
                  <div class="float-right" *ngIf="item.status!=='Received' && item.status!=='InTransit'" >
                    <button  routerLink="{{item.publicAddress}}/preparation" [queryParams]={commandeId:item.id}   mat-mini-fab  matTooltip="Préparation commande" class="mr-2" color="primary"  aria-label="Example icon-button with a heart icon">
                      <mat-icon>hourglass_empty</mat-icon>
                    </button>

                  </div>
                </nb-action>                </div>

            </nb-accordion-item-body>
          </nb-accordion-item>



        </nb-accordion>

      </div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucune commande trouvée </figcaption>

        </figure>

      </div>
    </nb-card>

  </div>

</div>

