@import '../@theme/styles/themes';
::ng-deep nb-card{
  background: white;
}
::ng-deep nb-card{
  background-image: none;
}

::ng-deep nb-layout-column{
}
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
::ng-deep nb-card-header{
  display: initial !important;
}
