


<div>
  <div class="row">
    <div class="col-12 p-3">

      <a href="javascript:void(0)" routerLink="../"> <nb-icon class="ml-2"   icon="arrow-back-outline" status="primary"></nb-icon>Produits</a>


    </div>

    <div class="col-sm-4">

<img class="shadow img-fluid w-100 h-25" style="border-radius: 5px" *ngIf="medicament?.photoUrl"  src="{{medicament?.photoUrl}}"/>
      <img class="shadow img-fluid w-100 h-25" style="border-radius: 5px"  *ngIf="!medicament?.photoUrl" src="../../../../assets/images/image-notfound.jpg"/>

      <nb-card size="small">

      <nb-card-header>
        {{medicament?.name}}
      </nb-card-header>
      <nb-list>
        <nb-list-item >
          <nb-icon icon="hash-outline" status="danger"></nb-icon>
          <p *ngIf="this.medicament?.stock<=0" class="text-danger d-inline">Non disponible en stock</p>
          <p *ngIf="this.medicament?.stock>0" class="text-danger d-inline"> Qte: {{medicament?.stock}}</p>
        </nb-list-item>
        <nb-list-item >
          <nb-icon icon="pricetags-outline" status="danger"></nb-icon>Prix:  {{medicament?.medicamentPrice}}

        </nb-list-item>
        <nb-list-item *ngIf="this.medicament.stock>0">
          <div > <input nbInput type="number" [formControl]="quantity" required placeholder="quantite" /><p  class=" text-danger ml-5">{{this.msg}}</p></div>



       <div class="text-center">
         <button (click)="add()" nbButton [disabled]="submit"  fullWidth="false" size="small" status="primary"><nb-icon icon="shopping-cart-outline"></nb-icon>Ajouter au Panier</button>


       </div>

        </nb-list-item>


      </nb-list>

    </nb-card>

  </div>
  <div class="col-sm-7">
    <nb-card size="large">
      <nb-card-header>
   <nb-icon icon="info-outline" status="primary"></nb-icon>  <p style="
        display: contents;
        ">   Détails du produit
      </nb-card-header>
<nb-card-body>
  <div class="row p-3">
    <div class="col-sm-4"><p>DCI</p></div>
    <div class="col-sm-4">{{medicament?.name}}</div>
  </div>
  <mat-divider></mat-divider>
    <div class="row p-3">
      <div class="col-sm-4"><p>Presentation :</p> </div>
      <div class="col-sm-4">{{medicament?.presentation}}</div>
    </div>
  <mat-divider></mat-divider>

  <div class="row p-3">
    <div class="col-sm-4"><p>Indication :</p> </div>
    <div class="col-sm-4">{{medicament?.indication}}</div>
  </div>
  <mat-divider></mat-divider>

  <div class="row p-3">
    <div class="col-sm-4"><p>Forme galenique :</p> </div>
    <div class="col-sm-4">{{medicament?.formegalenique}}</div>
  </div>
  <mat-divider></mat-divider>

  <mat-divider></mat-divider>

  <div class="row p-3">
    <div class="col-sm-4"><p>Dosage : </p></div>
    <div class="col-sm-4">{{medicament?.dosage}}</div>
  </div>
  <mat-divider></mat-divider>

  <div class="row p-3">
    <div class="col-sm-4"><p>Marque : </p></div>
    <div class="col-sm-4">{{medicament?.marque}}</div>
  </div>

</nb-card-body>
    </nb-card>
  </div>



</div>







</div>
