
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>
        <nb-action> <nb-icon icon="navigation-2-outline" status="primary"></nb-icon>Suivi des  conteneurs </nb-action>
        <div class="float-right">
          <input #autoInput
                 nbInput
                 type="text"
                 (input)="search($event)"
                 placeholder="Recherche par tag"
          />
          <nb-select class="ml-2" placeholder="Status" (selectedChange)="state($event)" [(selected)]="selectedItem">
            <nb-option value="DESACTIVER" selected="selected" >Desactiver</nb-option>

              <nb-option value="Expedie" selected="selected" >Expédié</nb-option>
            <nb-option value="InTransit" selected="selected" >InTransit</nb-option>
            <nb-option value="Received">Reçu</nb-option>

          </nb-select>
        </div>
        <nb-action hidden class="float-right">
          <button   matTooltip="Ajouter Client" mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </nb-action>

      </nb-card-header>

      <div *ngIf="this.filteredItems">
        <nb-accordion  *ngFor="let container of this.filteredItems ">

          <nb-accordion-item [collapsed]="true"  disabled   #item>
            <nb-accordion-item-header class="row" >
              <nb-action class="col-1 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
                <nb-user  class="d-inline p-2 " badgePosition="bottom left"  onlyPicture size="large" *ngIf="container.state==='EnAttente'"  picture="../../assets/crane.svg"  badgeText="EnAttente"    name="{{container.tagContainer}}" badgeStatus="warning"  badgeText="EnAttente"></nb-user>
                <nb-user  class="d-inline p-2 " onlyPicture *ngIf="container.state==='InTransit'"  badgeText="InTransit" picture="../../assets/crane.svg"  name="{{container.tagContainer}}" badgeStatus="danger" ></nb-user>
                <nb-user  class="d-inline p-2 " onlyPicture *ngIf="container.state==='Received'"  badgeText="Recu" picture="../../assets/crane.svg"  name="{{container.tagContainer}}" badgeStatus="success" ></nb-user>

                <nb-user  class="d-inline p-2 " onlyPicture *ngIf="container.state==='Encours'"  badgeText="EnCours" picture="../../assets/crane.svg"  name="{{container.tagContainer}}" badgeStatus="danger" ></nb-user>
                <nb-user  class="d-inline p-2 " onlyPicture *ngIf="container.state==='Expedie'" badgeText="EnAttente" picture="../../assets/crane.svg"   name="{{container.tagContainer}}" badgeStatus="success"  badgeText="Expedie"></nb-user>
                <nb-user  class="d-inline p-2 " onlyPicture *ngIf="container.state==='DESACTIVER'" badgeText="Desactiver" picture="../../assets/crane.svg"   name="{{container.tagContainer}}" badgeStatus="info"  ></nb-user>



                <div class="col-md-1 col-sm-0">{{item.name}}</div>
              </nb-action>


              <nb-action class="col-3 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                <mat-icon class="mr-2" color="primary">local_offer</mat-icon>
                <div  style="font-size:1vw;" class="text-dark">{{container.tagContainer}}</div>

              </nb-action>


              <nb-action *ngIf="container.state!=='DESACTIVER'" class="col-md-2 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                <a href="javascript:void(0)"  (click)="open(dialog1);selectContainerTransaction(container)">  <mat-icon class="mr-2" color="warn">timeline</mat-icon></a>
                <div  style="font-size:1vw;" class="text-dark">TimeLine</div>
              </nb-action>
              <nb-action *ngIf="container.state === 'InTransit'"  class="col-md-2 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                <a href="javascript:void(0)" (click)="open(dialog2);selectContainer(container)"><mat-icon  class="mr-2" color="warn">ac_unit</mat-icon></a>
                <div   style="font-size:1vw;" class="text-dark">Temperature</div>
              </nb-action>
              <nb-action *ngIf="container.state!='Received'" class="col-md-2 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                <a href="javascript:void(0)" (click)="open(dialogSeuil);selectContainerSeuil(container)"><mat-icon  class="mr-2" color="primary">tune
                </mat-icon></a>
                <div  style="font-size:1vw;" class="text-dark">seuil capteurs</div>
              </nb-action>
              <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header><p>TimeLine Commande</p>   </nb-card-header>
                  <nb-card-body>
                    <div *ngIf="!decodeAffectationTx">
                      <p> Veuillez patienter svp .....</p>
                    </div>
                    <mat-vertical-stepper *ngIf="decodeAffectationTx!=null" [linear]="isLinear" #stepper>

                      <mat-step  [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                          <ng-template matStepLabel>
                          Affectation conteneur
                           </ng-template>

                          <div>
                            <mat-icon class="d-inline" color="warn">description</mat-icon><div class="font-title d-inline p-2" > Transaction hash:</div> {{decodeAffectationTx.data.hash}}<br/>
                            <mat-icon class="d-inline" color="primary">today</mat-icon><div class="d-inline font-title p-2">  Date Transaction:</div>{{decodeAffectationTx.block.timestamp* 1000 | date:"long"}}

                              <br/>
                            <mat-icon class="d-inline" color="primary">local_shipping</mat-icon><div class="d-inline font-title p-2">Transporteur Adresse:</div>  0X{{decodeAffectationTx.inputs[0]}}
                            <br/> <mat-icon class="d-inline" color="primary">local_offer</mat-icon><div class="d-inline font-title p-2"> Tag container:</div> {{decodeAffectationTx.inputs[1]}}

                          </div>
                        </form>
                      </mat-step>

                      <mat-step disabled [stepControl]="secondFormGroup">
                        <ng-template matStepLabel>Conteneur en route</ng-template>
                        <div *ngIf="!decodeIntransit">
                          <p>Pas encore</p>
                        </div>
                        <div *ngIf="this.decodeIntransit">
                          <mat-icon class="d-inline" color="warn">description</mat-icon><div class="font-title d-inline p-2" > Transaction hash:</div> {{decodeIntransit.data.hash}}<br/>
                          <mat-icon class="d-inline" color="primary">today</mat-icon><div class="d-inline font-title p-2">  Date Transaction:</div>{{decodeIntransit.block.timestamp* 1000 | date:"long"}}

                            <br/>
                          <mat-icon class="d-inline" color="primary">local_shipping</mat-icon><div class="d-inline font-title p-2">Tag container:</div>  {{decodeIntransit.inputs[0]}}
                          <br/> <mat-icon class="d-inline" color="warn">whatshot</mat-icon><div class="d-inline font-title p-2"> Temperature:</div> {{decodeIntransit.inputs[1]}} °C

                          <br/> <mat-icon class="d-inline" color="primary">ac_unit</mat-icon><div class="d-inline font-title p-2"> Humidite:</div> {{decodeIntransit.inputs[2]}} %
                        </div>
                      </mat-step>
                      <mat-step disabled>
                        <ng-template matStepLabel>Conteneur livrée</ng-template>
                        <div>
                          <p *ngIf="!decodeReceived">Pas encore</p>
                          <div *ngIf="this.decodeReceived">
                            <mat-icon class="d-inline" color="warn">description</mat-icon><div class="font-title d-inline p-2" > Transaction hash:</div> {{decodeReceived.data.hash}}<br/>
                            <mat-icon class="d-inline" color="primary">today</mat-icon><div class="d-inline font-title p-2">  Date Transaction:</div>{{decodeReceived.block.timestamp* 1000 | date:"long"}}

                              <br/>
                            <mat-icon class="d-inline" color="primary">local_shipping</mat-icon><div class="d-inline font-title p-2">Tag container:</div>  {{decodeReceived.inputs[0]}}
                            <br/> <mat-icon class="d-inline" color="warn">whatshot</mat-icon><div class="d-inline font-title p-2"> Temperature:</div> {{decodeReceived.inputs[1]}} °C

                            <br/> <mat-icon class="d-inline" color="primary">ac_unit</mat-icon><div class="d-inline font-title p-2"> Humidite:</div> {{decodeReceived.inputs[2]}} %
                          </div>
                        </div>
                      </mat-step>
                    </mat-vertical-stepper>
                  </nb-card-body>
                  <nb-card-footer></nb-card-footer>
                </nb-card>
              </ng-template>
              <ng-template #dialog2 let-data let-ref="dialogRef">
<nb-card>
  <nb-card-header >
    <label> <mat-icon class="d-inline"  class="mr-2" color="primary">ac_unit</mat-icon> Observation</label>
    <a  (click)="ref.close()" href="javascript:void(0)"><mat-icon  class="mt-n2 float-right ml-2" color="warn">highlight_off</mat-icon></a>
    <nb-tabset (changeTab)="activateHumidite($event)">
      <nb-tab  tabTitle="Temperature">
        <nb-card-body *ngIf="!this.humiditeArea">
          <ngx-gauge [type]="gaugeType"
                     [value]="!!this.sensorContianers[container.tagContainer] ?sensorContianers[container.tagContainer].temperature:'appereil non connecter'"
                     [label]="gaugeLabel"
                     [append]="gaugeAppendText"
                     [thresholds]="thresholdConfig">
          </ngx-gauge>
         <div class="text-center ">
           <p  class="text-danger" *ngIf="!sensorContianers[container.tagContainer]">Appreil non connecter</p>

         </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="m-3">
            <div class="row">
              <mat-icon color="primary">history</mat-icon><p class="font-weight-bold">Historique temperature</p>
            </div>
            <div class="row">
              <ngx-charts-bar-vertical  *ngIf="!this.humiditeArea" [animations]="true"

                                        [view]="view"
                                        [scheme]="colorScheme"
                                        [results]="this.single"
                                        [gradient]="gradient"
                                        [xAxis]="showXAxis"
                                        [yAxis]="showYAxis"
                                        [showXAxisLabel]="showXAxisLabel"
                                        [showYAxisLabel]="showYAxisLabel"
                                        [xAxisLabel]="xAxisLabel"
                                        [yAxisLabel]="yAxisLabel"
                                        (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>

          </div>



          <div class="row">
            <mat-icon color="primary" matTooltip="Adresse Transporteur">local_shipping</mat-icon><p><small>{{this.transporteurAddress}}</small></p>

          </div>


        </nb-card-footer>
      </nb-tab>
      <nb-tab tabTitle="Humidité">
        <nb-card-body *ngIf="this.humiditeArea" >
          <ngx-gauge  [type]="gaugeType"
                     [value]="!!this.sensorContianers[container.tagContainer]?this.sensorContianers[container.tagContainer].humidite:0 "
                     [label]="'Humidité'"
                     [append]="gaugeAppendTextHumidity"
                     [thresholds]="thresholdConfig">
          </ngx-gauge>
          <div class="text-center ">
            <p  class="text-danger" *ngIf="!sensorContianers[container.tagContainer]">Appreil non connecter</p>

          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="m-3">
            <div class="row">
              <mat-icon color="primary">history</mat-icon><p class="font-weight-bold">Historique Humidité</p>
            </div>
<div class="row">
            <ngx-charts-bar-vertical  *ngIf="this.humiditeArea" [animations]="true"

                                      [view]="view"
                                      [scheme]="colorScheme"
                                      [results]="this.humidites"
                                      [gradient]="gradient"
                                      [xAxis]="showXAxis"
                                      [yAxis]="showYAxis"
                                      [showXAxisLabel]="showXAxisLabel"
                                      [showYAxisLabel]="showYAxisLabel"
                                      [xAxisLabel]="xAxisLabelH"
                                      [yAxisLabel]="yAxisLabel"
                                      (select)="onSelect($event)">
            </ngx-charts-bar-vertical></div>
          </div>

          <div class="row">
            <mat-icon color="primary" matTooltip="Adresse Transporteur">local_shipping</mat-icon><p><small>{{this.transporteurAddress}}</small></p>

          </div>


        </nb-card-footer>
      </nb-tab>
    </nb-tabset>
  </nb-card-header>

</nb-card>

              </ng-template>
              <ng-template #dialogSeuil let-data let-ref="dialogRef">
                <form  (ngSubmit)="updateSeuilSensor();ref.close();">
                <nb-card  [formGroup]="this.sensorSeuil">

                  <nb-card-header><p><mat-icon color="warn">wb_incandescent</mat-icon> Seuil d'alert</p> </nb-card-header>


                  <nb-card-body>

                    <div class="row ">
                      <input class="m-2" type="number" (input)="Onchange($event)" formControlName="seuilTemperature" nbInput placeholder="Temperature">

                    </div>
                    <div class="row ">
                      <input class="m-2" (input)="Onchange($event)" type="number" formControlName="seuilHumidite" nbInput placeholder="Humidité">

                    </div>

                  </nb-card-body>
                  <nb-card-footer>
                    <button mat-raised-button type="submit" [disabled]="disableSave" color="primary" >Confirmer</button>

                    <button mat-raised-button type="button" (click)="ref.close()"  class="ml-2" color="warn" >Annuler</button>
                  </nb-card-footer>

                </nb-card>
                </form>
              </ng-template>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
111
              <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button>


            </nb-accordion-item-body>
          </nb-accordion-item>



        </nb-accordion>

      </div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucun Conteneur trouvée </figcaption>

        </figure>

      </div>
    </nb-card>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Transaction en cours... </p></ngx-spinner>

  </div>

</div>

