<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <a  [routerLink]="'../../'" href="javascript:void(0)">   <mat-icon>arrow_back</mat-icon></a>

        <h6>Modifier Medicaments</h6>

      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="this.updateMedicament" (ngSubmit)="onSave()">
          <div class="row">
            <div class="col-sm-4 ml-5">

            </div>
            <div class="col-sm-3 ">
              <div class="mt-2" class="avatar-container">
                <label for="image">
                  <input type="file"  name="image"(change)="onFileChanged($event)"  id="image" style="display:none;"/>
                  <a > <img *ngIf="!this.picture" class=" mt-3 avatar-img" src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/News/051717_testingdrugs_THUMB_LARGE.jpg?w=1155"></a>

                  <a >

                    <img class=" mt-3 avatar-img"  *ngIf="!!this.picture" [src]="this.picture"></a>
                  <div><mat-icon style="z-index: 1;
    margin-top: -20px;
    font-size: 40px;
    " color="primary">add_a_photo</mat-icon></div>
                </label>
              </div>

            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Name</label>
                <input type="text" nbInput fullWidth  formControlName="name" id="inputFirstName" placeholder="Name">
                <mat-error *ngFor="let validation of validation_messages.name">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('name').hasError(validation.type) &&
                                                   (updateMedicament.get('name').dirty ||
                                                   updateMedicament.get('name').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputIndication"  class="label text-dark">Indication</label>
                <textarea nbInput fullWidth formControlName="indication" id="inputIndication" placeholder="Indication"></textarea>
                <mat-error *ngFor="let validation of validation_messages.indication">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('indication').hasError(validation.type) &&
                                                   (updateMedicament.get('indication').dirty ||
                                                   updateMedicament.get('indication').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="formeGalenique" class="label">Forme Galenique</label>
                <input type="text" formControlName="formegalenique" nbInput fullWidth id="formeGalenique" placeholder="Forme Galenique">
                <mat-error *ngFor="let validation of validation_messages.formegalenique">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('formegalenique').hasError(validation.type) &&
                                                   (updateMedicament.get('formegalenique').dirty ||
                                                   updateMedicament.get('formegalenique').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Composition" class="label">Composition</label>
                <textarea nbInput fullWidth formControlName="composition" id="Composition" placeholder="Composition"></textarea>
                <mat-error *ngFor="let validation of validation_messages.composition">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('composition').hasError(validation.type) &&
                                                   (updateMedicament.get('composition').dirty ||
                                                   updateMedicament.get('composition').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="classeTherapeutique" class="label">Classe Therapeutique</label>
                <nb-select id="classeTherapeutique" [placeholder]="this.updateMedicament.controls['classeTherapeutique'].value.name" [(selected)]="this.updateMedicament.controls['classeTherapeutique'].value.id" formControlName="classeTherapeutique" fullWidth >
                  <nb-option *ngFor="let item of this.class" value="{{item.id}}" >{{item.name}}</nb-option>
                </nb-select>
                <mat-error *ngFor="let validation of validation_messages.classeTherapeutique">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('classeTherapeutique').hasError(validation.type) &&
                                                   (updateMedicament.get('classeTherapeutique').dirty ||
                                                   updateMedicament.get('classeTherapeutique').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDescription" class="label">Dosage</label>
                <input type="text" nbInput fullWidth formControlName="dosage" id="inputDescription" placeholder="Dosage">
                <mat-error *ngFor="let validation of validation_messages.dosage">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('dosage').hasError(validation.type) &&
                                                   (updateMedicament.get('dosage').dirty ||
                                                   updateMedicament.get('dosage').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPresentation" class="label">Presentation</label>
                <input type="text" nbInput formControlName="presentation" fullWidth id="inputPresentation" placeholder="Presentation">
                <mat-error *ngFor="let validation of validation_messages.presentation">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('presentation').hasError(validation.type) &&
                                                   (updateMedicament.get('presentation').dirty ||
                                                   updateMedicament.get('presentation').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Marque" class="label">Marque</label>
                <input type="text" formControlName="marque" nbInput fullWidth id="Marque" placeholder="Marque">
                <mat-error *ngFor="let validation of validation_messages.marque">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('marque').hasError(validation.type) &&
                                                   (updateMedicament.get('marque').dirty ||
                                                   updateMedicament.get('marque').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Marque" class="label">Quantité</label>
                <input type="text" formControlName="stock" nbInput fullWidth id="quantite" placeholder="Quantité">
                <mat-error *ngFor="let validation of validation_messages.quantity">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('stock').hasError(validation.type) &&
                                                   (updateMedicament.get('stock').dirty ||
                                                   updateMedicament.get('stock').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Marque" class="prix">Prix</label>
                <input type="number" formControlName="medicamentPrice" nbInput fullWidth id="prix" placeholder="Prix">
                <mat-error *ngFor="let validation of validation_messages.prix">
                  <mat-error class="error-message" *ngIf="updateMedicament.get('medicamentPrice').hasError(validation.type) &&
                                                   (updateMedicament.get('medicamentPrice').dirty ||
                                                   updateMedicament.get('medicamentPrice').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>

          </div>
          <button type="submit" nbButton>Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>


