@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.font-header{
  font-family: 'Anton', sans-serif;
 color: #537eff !important}
.font-title{
  font-family: 'Anton', sans-serif;
  }
.min-size{
 font-size: 15px;
}
img{border-radius: 5px
;height:120px}
.glyphicon-heart {
  color: #ccc;
  font-size: 64px;
  cursor: pointer;
}
.highlighted {
  color: deeppink;
}
