<div class="accordions-container row" xmlns="http://www.w3.org/1999/html">

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">

    <div class="row mb-3">         <div class="float-right ml-3 mb-3">
      <input #autoInput
             nbInput
             type="text"
             (input)="onChange($event)"
             placeholder="Recherche par nom"
      />
      <nb-select class="ml-2" placeholder="Recherche par Classe" (selectedChange)="onSelect($event)" [(selected)]="selectedItem">
          <nb-option *ngFor="let item of this.class" value="{{item.id}}">{{item.name}}</nb-option>
      </nb-select>

    </div>
    </div>
    <div class="row">
      <mat-card *ngFor="let item of this.filteredItems" class="col-md-3 m-3 mb-2 col-sm-6 col-xs-6">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="font-header">
            <div class="text-center">
            {{item.name | uppercase}}
          </div>
          </mat-card-title>
        </mat-card-header>
        <img *ngIf="!item.photoUrl" mat-card-image src='../../../../assets/medi.webp' alt="Photo of a Shiba Inu">
        <img *ngIf="item.photoUrl" mat-card-image src='{{item.photoUrl}}' alt="Photo of a Shiba Inu">

        <mat-card-content>
          <div class="text-center">
            <p><span class="font-title " >STOCK: </span>{{item.stock}}<mat-icon color="primary" class="min-size">local_offer</mat-icon></p>
            <p><span class="font-title "> PRIX:</span> {{item.medicamentPrice}}<mat-icon color="primary" class="min-size">shopping_cart</mat-icon></p>

            <p>
          </p>
          </div>
        </mat-card-content>
        <mat-card-actions >
          <div class="text-center">
          <button routerLink="./{{item.id}}/details" mat-raised-button color="primary">Commander</button>
          </div>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>
</div>
<div class="text-center " *ngIf="this.filteredItems?.length===0">
  <figure>
    <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
    <figcaption class="text-dark   font-weight-bold">Aucun produit trouvée </figcaption>

  </figure>

</div>
