
<mat-card>



  <div style="color:  #4d3fbd" class="text-center mb-2 font-header  "><h6 class="font-header"> BIENVENUE SUR DRUGSCHAINGRE </h6> <br/>
      Espace PHARMACIE Connectez-vous</div>

  <form name="loginForm" [formGroup]="loginForm"  (ngSubmit)="onLogin()" novalidate>
    <div *ngIf="errors && errors.length > 0 " class="alert alert-danger" role="alert">
      <div><strong>Oh snap!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>


    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-icon matSuffix class="secondary-text">mail</mat-icon>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is required
      </mat-error>
      <mat-error
        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label> Adresse public  </mat-label>
      <input matInput formControlName="accountAddress">
      <mat-icon matSuffix color="primary" class="secondary-text">public</mat-icon>
      <mat-error>
        accountAddress is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">

      <mat-label>Password </mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error>
        password key is required
      </mat-error>
    </mat-form-field>





    <button mat-raised-button color="primary" class="submit-button w-100" aria-label="LOGIN"
            [disabled]="loginForm.invalid">
      LOGIN
    </button>

  </form>

  <div class="links">
    <section aria-label="Register" class="another-action font-header"> Vous n'avez pas de compte?                 <a class="link" [routerLink]="'/auth-client/register'">Créez un compte</a>
    </section>

  </div>
</mat-card>
