<ion-content>

  <div class="container">

    <div class="header">
      <div class="title">
        <img src="../../../assets/box.svg">
      </div>
      <h3>Bienvenue ! </h3>
      <p> DrugsChain Transporteur </p>
    </div>

    <div class="body">
<form [formGroup]="this.registerForm" (ngSubmit)="createAccount()">

      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input  formControlName="username" placeholder="Display name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-input  formControlName="email" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input type="password"   formControlName="password" placeholder="Password"></ion-input>
        </ion-item>

    

          <ion-button  [disabled]="this.registerForm.invalid" type="submit" expand="full">Inscription</ion-button>



      </ion-list>
</form>
    </div>

    <div class="footer">
      Vous n'avez pas de compte?   <a routerLink="/auth/login">LogIn</a>
    </div>

  </div>

</ion-content>
