<ion-content >

  <div class="container ">

 <ion-card class="col-6" style="background-color: #ffffffb0 !important;">


    <ion-card-content style="background-color: #ffffffd9;">
     <form  [formGroup]="this.medicamentData" (ngSubmit)="checkMedicament()">

      <ion-item class="item-background-color">
        <ion-label position="floating">Adresse Smart Contract Pharmacie</ion-label>
        <ion-input  formControlName="smartContract"> </ion-input>
      </ion-item>
      <ion-item class="item-background-color">
        <ion-label position="floating">Numero Lot</ion-label>
        <ion-input formControlName="numLot" > </ion-input>
      </ion-item>
  <div class="text-center ">
    <ion-button type="submit" [disabled]="this.medicamentData.invalid" color="primary">Verifier</ion-button>

  </div>
     </form>

    </ion-card-content>


  <ion-card>

  </ion-card>


 </ion-card>
   <ion-card *ngIf="!!this.humiditeGr" style="background-color: white !important; "  >
   <ion-card-content>
       <ion-item-divider class="m-2">

       <div class="d-inline">
           <ion-icon name="medkit-outline" color="primary" ></ion-icon>
           <p class="font-weight-bold   ml-2 font d-inline"> Medicament : <span class="item-color ">{{this.name}}</span> <ion-icon color="success" name="shield-checkmark-outline"></ion-icon></p>
      <div>
          <ion-icon name="calendar-outline" color="primary"></ion-icon>
          <p class="text-dark font ml-2 font-weight-bold d-inline">Date Expiration <span class="item-color ">{{this.dateExpiration}}</span></p>
      </div>

       </div>

       </ion-item-divider>
  <ion-item-divider>
    <div >

       <div class="d-inline-flex">
           <ion-icon color="primary" name="business-outline"></ion-icon>
           <h5 class="font-weight-bold  font-title ml-2 d-inline ">Fabricant </h5>

       </div>
    <div class="row">
        <div class="col-12 font text-dark ">Adresse: <span class="item-color "> {{this.fabricants}}</span></div>
    </div>
       <div class="row">
      <div class="col-12 font text-dark font-weight-bold d-block">
          Information Livraison ( <span class="item-color "> FABRICANT</span> <ion-icon name="arrow-forward-circle-outline"></ion-icon><span class="item-color "> GROSSISTE</span>) </div>
       </div>
<div class="row">
    <div class="col-12 font"><ion-icon color="danger" name="thermometer-outline"></ion-icon>Temperature:<span class="item-color "> {{this.temperatureOrigine | json}}</span></div>
    <div class="col-12 font"><ion-icon color="primary" name="snow-outline"></ion-icon> Humidite:<span class="item-color "> {{this.humiditeOrigine | json }}</span></div>
    <div class="col-12 font"><ion-icon color="danger" name="document-text-outline"></ion-icon> Transaction Hash:<span class="item-color "> {{this.lastTransactionHash | json }}</span></div>

</div>
    </div>

       </ion-item-divider>
       <ion-item-divider>

 <div>
  <h5 class="text-dark font-title font-weight-bold" ><ion-icon color="primary" name="layers-outline"></ion-icon>Grossiste</h5>

  <div class="row">
      <div class="col-12 font">Adresse :<span class="item-color "> {{this.grossiste}}</span></div>

  </div>
       <div class="row">
      <div class="col-12 font text-dark font-weight-bold">Information Livraison
          (<span class="item-color ">GROSSISTE</span> <ion-icon name="arrow-forward-circle-outline"></ion-icon><span class="item-color "> PHARMACIE</span>)
      </div>
       </div>
     <div class="col-12 font"><ion-icon color="danger" name="thermometer-outline"></ion-icon>Temperature:<span class="item-color "> {{this.temperatureGr | json}}</span></div>

     <div class="col-12 font"><ion-icon color="primary" name="snow-outline"></ion-icon> Humidite: <span class="item-color ">{{this.humiditeGr | json }}</span></div>

     <div class="col-12 font"><ion-icon color="danger" name="document-text-outline"></ion-icon> Transaction Hash:<span class="item-color "> {{this.grossisteTxHash  }}</span></div>
 </div>
       </ion-item-divider>

<div>

  <h5 class="font-weight-bold font-title text-dark"><ion-icon name="bandage-outline"></ion-icon>Pharmacie</h5>

  <div class="row">
      <div class=" font col-12">Adresse  :<span class="item-color "> {{this.pharmacieAddress}}</span></div>

  </div>
</div>
   </ion-card-content>
   
   </ion-card>

 

  </div>

</ion-content>
