@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Squada+One&display=swap');
.font{
  font-family: 'Lilita One', cursive;
font-size: 15px;
  color: #4d3fbd !important;
}
.font-title{
  color: #2a5b7e !important;
  font-family: 'Lilita One', cursive;
  font-size: 15px;

}

.item-color{
  color: #2a5b7e !important;
}
::ng-deep .item-native{
  background: transparent !important;
}
::ng-deep .ion-label,.ion-item{
  background-color: transparent !important;
}
::ng-deep *{
  background: transparent !important;
  background-color: transparent !important;
}
.item .item-content {
  background-color: transparent !important;
}
.item-background-color{
  --ion-item-background: transparent !important;
}
ion-content {
  --background: url('../../../assets/cover.png');
  --color: #FFF;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header {
      flex: 1;
      justify-content: center;
      text-align: center;
      .title {
        img {
          height: 100px;
          width: 100px;
        }
      }
      h3 {
        color: #06bebd;
      }
    }
    .body {
      flex: 1.5;
      ion-list {
        --background: none;
        background: none;

        ion-item {
          --border-color: transparent!important;
          --highlight-height: 0;
          --background: none;
          background: rgba(255,255,255,0.1);
          border-radius: 4px;
          ion-icon {
            color: #FAFAFA;
          }
          ion-input {
            --color: #FFF;
          }
        }
      }
    }
    .footer {
      display: flex;
      a {
        color: #06bebd;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
