@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
::ng-deep .nb-theme-default ng2-smart-table th.ng2-smart-actions-title-add a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem !important;
  padding: 0.375rem 0.5rem;
  background: #1a34b8 !important;
  color: #ffffff;
  border-radius: 0.375rem;
}
