
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Importation en cours... </p></ngx-spinner>

    <nb-card>
      <nb-card-header>
        <nb-action><nb-icon status="primary" icon="download-outline" ></nb-icon>Importer Conteneur</nb-action>

        <nb-action  class="float-right p-2 ml-4">

        </nb-action>



      </nb-card-header>

      <div    class="row d-block p-2">
        <div class="col-12  p-5 text-center d-inline-block">
          <form [formGroup]="this.addContainer" (ngSubmit)="importContainer()">
            <input  (input)="validate_txhash($event)" nbInput class="m-2" type="text"  formControlName="transactionHash" fieldSize="medium" placeholder="Transaction Hash " />
            <mat-error *ngFor="let validation of validation_messages.transactionHash">
              <br/>
              <mat-error class="error-message" *ngIf="addContainer.get('transactionHash').hasError(validation.type) &&
                                                   (addContainer.get('transactionHash').dirty ||
                                                   addContainer.get('transactionHash').touched)"
              >


                {{validation.message}}
              </mat-error>
            </mat-error>
            <br/>
            <div *ngIf="this.validContainer">



            <nb-alert status="danger" closable (close)="onClose()" *ngIf='this.invalid' closable>INVALIDE TRANSACTION </nb-alert>

            <nb-alert status="danger" closable (close)="onClose()" *ngIf="this.hide && this.medicament?.length>0 && this.numberImportMedicament===0" closable>
            {{this.errors}}<br/>  MEDICAMENTS IMPORTER  : {{this.numberImportMedicament}} / {{this.medicament.length}}</nb-alert>
            <nb-alert status="success" closable (close)="onClose()" *ngIf="this.hide && this.medicament?.length>0 && this.numberImportMedicament>0" closable> {{this.errors}}<br/> MEDICAMENTS IMPORTER  : {{this.numberImportMedicament}} / {{this.medicament.length}}</nb-alert>

            <p *ngIf="!!this.medicament" style="color: red"></p>
            <nb-progress-bar  *ngIf="!!this.medicament && this.numberImportMedicament>0" [displayValue]="true" [value]="this.numberImportMedicament/this.medicament.length*100"  status="success"></nb-progress-bar>
            </div>
            <br/>


            <br/>

            <button nbButton class="m-2"   [disabled]=" !this.valid" (click)="addContainers()"  size="small" ><nb-icon icon="code-download-outline"></nb-icon> Importer conteneur </button>


          </form>

        </div>
      </div>

      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucune donnée trouvée </figcaption>

        </figure>

      </div>
      <div class="p-5" *ngIf="!!this.containerDetails && !this.invalid && this.validContainer ">
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>
              <div class="row">



                <div class="col-auto">
                  Conteneur Tag:{{this.containerDetails.tagContainer}}
                </div>

                <div class="col-auto">
                  seuil Temperature :{{this.containerDetails.seuilTemperature}}
                </div>
                <div class="col-auto">
                  seuil Humidite :{{this.containerDetails.seuilHumidite}}
                </div>

              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">

                <nb-card size="small" class="col-12">
                  <nb-list>
                    <nb-list-item *ngFor="let item of this.medicament">
                      <nb-user badgePosition="top left" *ngIf="!this.checkDate(item.dateExpiration)" badgeStatus="danger" [badgeText]="'invalide' " class="d-inline-block" [name]="item.name" [title]="'Numero lot: '+item.numLot">
                      </nb-user>
                      <nb-user  *ngIf="checkDate(item.dateExpiration)"  badgeStatus="success" [badgeText]="'valide' " class="d-inline-block" [name]="item.name" [title]="'Numero lot: '+item.numLot">
                      </nb-user>
                      <div class="d-inline-block ml-2 ">
                        <p style="color: white"><nb-icon icon="calendar-outline" status="info"></nb-icon> Date Expiration: {{item.dateExpiration}}</p></div>
                      <mat-icon class="ml-2" *ngIf="!this.checkDate(item.dateExpiration)" color="warn" >wb_incandescent
                      </mat-icon>
                    </nb-list-item>
                  </nb-list>
                </nb-card>




              </div>

            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>

    </nb-card>

  </div>

</div>

