.icon {
  display: inline-block;
  font-size: 35px;
  color: #ffC977;
  vertical-align: middle;
}
.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent {
  display: flex;
  height: 300px; /* Or whatever */
}
.center{
  text-align: center;
  margin-top: -50px;
}


.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}
ion-spinner {
  width: 28px;
  height: 10px;
  stroke: #444;
  fill: #222;
}
.text{
  font-family: 'Roboto Condensed', sans-serif;

  display: inline-block;
  vertical-align: middle;
}
#pinsda{display: none!important;}
h2,p{
  font-family: 'Roboto Condensed', sans-serif;
color:#7e57ff;
}
div{font-family: 'Roboto Condensed', sans-serif;
}
