<ion-header>

</ion-header>

<ion-content >
    <div  *ngIf="disable && connected"  style="text-align: center;margin-top: 10px">
     <ion-button  (click)="refresh()">
         <ion-icon slot="start" name="reload-circle-outline"></ion-icon>
         Actualiser
     </ion-button>
    </div>
        <iframe *ngIf="!connected" width="100%" height="100%" frameborder="0" src="http://192.168.4.1/config" ></iframe>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type ="ball-clip-rotate-pulse" [fullScreen] = "false"><p style="color: white" > Veuillez patienter... </p></ngx-spinner>
<div *ngIf="!connected &&disable" >
    <div class="parent">
    <img  class="child" width="100px" src="../../../assets/link.svg">
</div>
 <div  class="center"><h2 class="center">Appareil introuvable !</h2>
    <small><p>Vérifiez que votre téléphone associe à l'appareil  via wifi puis cliquez sur actualiser</p></small>
    <ion-button (click)="refresh()">
        <ion-icon slot="start" name="reload-circle-outline"></ion-icon>
        Actualiser
    </ion-button>
 </div>
</div>
</ion-content>


