@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container:first-child {
    margin-bottom: nb-theme(card-margin-bottom);
  }
   ::ng-deep .nb-theme-default nb-user.size-medium .user-name {
     font-size: 0.9375rem;
     font-weight: bold;
     line-height: 1.25rem;
   }
}
