
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>
        <nb-action><mat-icon color="primary">assignment
        </mat-icon>Commandes</nb-action>
        <nb-action  class="float-right p-2 ml-4">
        </nb-action>
        <div class="float-right">
          <input #autoInput
                 nbInput
                 type="text"
                 (input)="onChange($event)"
                 placeholder="Recherche par reference"
          />
          <nb-select class="ml-2" placeholder="Status" (selectedChange)="state($event)" [(selected)]="selectedItem">
            <nb-option value="EnAttente" selected="selected" >En Attente</nb-option>
            <nb-option value="Encours">En Cours</nb-option>
            <nb-option value="Expedie">Expédié</nb-option>
            <nb-option value="InTransit">EnTransit</nb-option>
            <nb-option value="Received">Received</nb-option>

          </nb-select>
        </div>


      </nb-card-header>

      <div >
        <nb-accordion *ngFor="let item of this.filteredItems  ">
          <nb-accordion-item  disabled  >
            <nb-accordion-item-header class="row" >
              <nb-action class="col-4 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="item.status==='Encours'"  badgeText="EnCours" picture="../../assets/order.svg"  name="{{item?.id}}" badgeStatus="danger" ></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="item.status==='Expedie'"  picture="../../assets/order.svg" badgeStatus="success"  badgeText="Expedie"></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="item.status==='InTransit'" badgeText="EnTransit"  picture="../../assets/order.svg"  name="{{item?.id}}" badgeStatus="success"  ></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left"  onlyPicture *ngIf="item.status==='Received'" badgeText="Recu"  picture="../../assets/order.svg"  name="{{item?.id}}" badgeStatus="success"  ></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left"  onlyPicture *ngIf="item.status==='EnAttente'" badgeText="EnAttente"  picture="../../assets/order.svg"  name="{{item?.id}}" badgeStatus="warning"  ></nb-user>


                <div style="font-size:1vw;"  class="ml-4 text-dark d-inline">{{item.id}}</div>
                <div style="font-size:1vw;"  class="ml-3  text-dark d-inline">{{item.address}}</div>
                <a href="javascript:void(0)" routerLink="./{{item.id}}/facture"> <mat-icon color="primary" matTooltip="facture">
                  receipt</mat-icon></a>

              </nb-action>
              <nb-action *ngIf="item.status!=='EnAttente'  && item.status!=='DESACTIVER'  && item.status!=='Encours'" class="col-md-2 p-2 ml-sm-1 ml-lg-1 ml-xl-1 mr-sm-1 mr-lg-1 mr-xl-1">
                <a href="javascript:void(0)" (click)="open(dialog1);selectContainerTransaction(item)">  <mat-icon class="mr-2" color="warn">timeline</mat-icon></a>
                <div  style="font-size:1vw;" class="text-dark">TimeLine</div>
              </nb-action>
            </nb-accordion-item-header>

            <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header><p>TimeLine Commande</p>   </nb-card-header>
                  <nb-card-body>
                    <div *ngIf="!decodeAffectationTx">
                      <p> Veuillez patienter svp .....</p>
                    </div>
                    <mat-vertical-stepper *ngIf="decodeAffectationTx!=null" [linear]="isLinear" #stepper>

                      <mat-step  >
                        <form >
                          <ng-template matStepLabel>
                            Affectation conteneur
                          </ng-template>

                          <div>
                            <mat-icon class="d-inline" color="warn">description</mat-icon><div class="font-title d-inline p-2" > Transaction hash:</div> {{decodeAffectationTx.data.hash}}<br/>
                            <mat-icon class="d-inline" color="primary">today</mat-icon><div class="d-inline font-title p-2">  Date Transaction:</div>{{decodeAffectationTx.block.timestamp* 1000 | date:"long"}}

                            <br/>
                            <mat-icon class="d-inline" color="primary">receipt</mat-icon><div class="d-inline font-title p-2">Transporteur Adresse:</div>  0X{{decodeAffectationTx.inputs[0]}}
                            <br/> <mat-icon class="d-inline" color="primary">local_offer</mat-icon><div class="d-inline font-title p-2"> Tag container:</div> {{decodeAffectationTx.inputs[1]}}

                          </div>
                        </form>
                      </mat-step>

                      <mat-step disabled >
                        <ng-template matStepLabel>Conteneur en route</ng-template>
                        <div *ngIf="!decodeIntransit">
                          <p>Pas encore</p>
                        </div>
                        <div *ngIf="this.decodeIntransit">
                          <mat-icon class="d-inline" color="warn">description</mat-icon><div class="font-title d-inline p-2" > Transaction hash:</div> {{decodeIntransit.data.hash}}<br/>
                          <mat-icon class="d-inline" color="primary">today</mat-icon><div class="d-inline font-title p-2">  Date Transaction:</div>{{decodeIntransit.block.timestamp* 1000 | date:"long"}}

                          <br/>
                          <mat-icon class="d-inline" color="primary">local_shipping</mat-icon><div class="d-inline font-title p-2">Tag container:</div>  {{decodeIntransit.inputs[0]}}
                          <br/> <mat-icon class="d-inline" color="warn">whatshot</mat-icon><div class="d-inline font-title p-2"> Temperature:</div> {{decodeIntransit.inputs[1]}} °C

                          <br/> <mat-icon class="d-inline" color="primary">ac_unit</mat-icon><div class="d-inline font-title p-2"> Humidite:</div> {{decodeIntransit.inputs[2]}} %
                        </div>
                      </mat-step>
                      <mat-step disabled>
                        <ng-template matStepLabel>Conteneur livrée</ng-template>
                        <div>
                          <p *ngIf="!decodeReceived">Pas encore</p>
                          <div *ngIf="this.decodeReceived">
                            <mat-icon class="d-inline" color="warn">description</mat-icon><div class="font-title d-inline p-2" > Transaction hash:</div> {{decodeReceived.data.hash}}<br/>
                            <mat-icon class="d-inline" color="primary">today</mat-icon><div class="d-inline font-title p-2">  Date Transaction:</div>{{decodeReceived.block.timestamp* 1000 | date:"long"}}

                            <br/>
                            <mat-icon class="d-inline" color="primary">local_shipping</mat-icon><div class="d-inline font-title p-2">Tag container:</div>  {{decodeReceived.inputs[0]}}
                            <br/> <mat-icon class="d-inline" color="warn">whatshot</mat-icon><div class="d-inline font-title p-2"> Temperature:</div> {{decodeReceived.inputs[1]}} °C

                            <br/> <mat-icon class="d-inline" color="primary">ac_unit</mat-icon><div class="d-inline font-title p-2"> Humidite:</div> {{decodeReceived.inputs[2]}} %
                          </div>
                        </div>
                      </mat-step>
                    </mat-vertical-stepper>
                  </nb-card-body>
                  <nb-card-footer></nb-card-footer>
                </nb-card>

            </ng-template>
            <nb-accordion-item-body>


              <div class="row">




              </div>

              <mat-divider></mat-divider>
              <div class="float-right mt-2">


                <nb-action class=" col-lg-12 col-sm-12 col-xxl-12 col-md-12">
                  <div class="float-right" >
                    <button routerLink="{{item.id}}/modifier" mat-mini-fab  matTooltip="Modifier" class="mr-2" color="primary"  aria-label="Example icon-button with a heart icon">
                      <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-mini-fab matTooltip="Supprimer" color="warn" (click)="open(dialog1)" aria-label="Example icon-button with a heart icon">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </div>
                </nb-action>                </div>

            </nb-accordion-item-body>
          </nb-accordion-item>



        </nb-accordion>

      </div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucune commande trouvée </figcaption>

        </figure>

      </div>
    </nb-card>

  </div>

</div>

