<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="col-sm-12">
          <div class="text-center"  *ngIf="!this.panierExist">
          <small style="color: red;">AUCUN PRODUIT PANIER VIDE</small>
          </div>
          <div class="float-left">
           <a routerLink='../panier'> <mat-icon color="priamary">arrow_back</mat-icon></a><br>
           <p>Checkout</p>
            <div ></div>
          </div>
          <div class="float-right mt-2">
            <button *ngIf="this.panierExist" (click)=confirmCommande() type="submit" nbButton>Confirmer</button>
            <button *ngIf="!this.panierExist"  disabled='true' type="submit" nbButton>Aucun Produit exist</button>

          </div>

        </div>


      </nb-card-header>
      <nb-card-body>
        <form   [formGroup]="this.commande" (ngSubmit)="confirmCommande()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">Name</label>
              <input type="text" nbInput formControlName="name" fullWidth id="inputFirstName" placeholder="Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName"  class="label text-dark">Account Address</label>
              <input type="text" nbInput formControlName="publicAddress"  disabled fullWidth id="inputLastName" placeholder="Account Address">
            </div>
          </div>
        </div>

          <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Email</label>
              <input type="email" formControlName="email" nbInput fullWidth id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputTelephone" class="label">Telephone</label>
              <input type="text" nbInput formControlName="telephone" fullWidth id="inputTelephone" placeholder="Telephone">
            </div>
          </div>
            <div class="col-sm-12 " style="z-index: 5">
              <input nbInput type="search" status="" fullWidth id="input-map" class="form-control" placeholder=" Address? " />

            </div>
<div class="col-sm-12 mt-4">
  <div id="map-example-container"></div>

</div>



          </div>

        </form>
      </nb-card-body>

    </nb-card>
  </div>
</div>


