<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="col-sm-12">
          <div class="text-sm-center">
            <nb-user size="large"
                     name="Teriak Labo"
                     title="Grossiste"
                     [picture]="base64image">
            </nb-user>
          </div>
        </div>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">Name</label>
              <input type="text" nbInput fullWidth id="inputFirstName" placeholder="Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName"  class="label text-dark">Account Address</label>
              <input type="text" nbInput disabled fullWidth id="inputLastName" placeholder="Account Address">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Email</label>
              <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Telephone</label>
              <input type="text" nbInput fullWidth id="inputTelephone" placeholder="Telephone">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFax" class="label">Fax</label>
              <input type="text" nbInput fullWidth id="inputFax" placeholder="Fax">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Website</label>
              <input type="text" nbInput fullWidth id="inputWebsite" placeholder="Website">
            </div>
          </div>
        </div>
        <button type="submit" nbButton>Submit</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>


