.icon {
  display: inline-block;
  font-size: 35px;
  color: #ffC977;
  vertical-align: middle;
}
ion-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
ion-list {
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

.text{
  font-family: 'Roboto Condensed', sans-serif;

  display: inline-block;
  vertical-align: middle;
}
p{
  font-family: 'Roboto Condensed', sans-serif;

}
div{font-family: 'Roboto Condensed', sans-serif;
}
