<nb-card>
  <nb-card-header>
    <div class="row p-2">
      <div class="col-sm-0 col-md-5"></div>
      <div class="col-sm-7 ">
    <nb-actions class="folat-right">

      <nb-action> Quantité Demandée  <nb-icon status="danger"  icon="hash-outline"></nb-icon><div>  {{this.qteDemande}}</div></nb-action>
      <nb-action> Quantité placée dans la conteneur  <nb-icon status="danger" icon="hash-outline"></nb-icon><div>{{this.qte}}</div></nb-action>
    </nb-actions>
      </div>
    </div>
    <div *ngIf="this.qteTotal===this.total" class="row">
      <div class="col-sm-12 float-left">
        <div   class="col-sm-7 d-inline-block">
          <p *ngIf="transporteurList?.length===0" class="font-weight-bold text-danger">Aucun Transporteur existe</p>
          <nb-select *ngIf="transporteurList?.length!==0" fullWidth  placeholder="Select Showcase" (selectedChange)="activeBtn($event)" [(selected)]="selectedItem">
            <nb-option  fullWidth *ngFor="let item of this.transporteurList" [value]="item.accountAddress">{{item.username| uppercase}}</nb-option>
          </nb-select>
        </div>
        <div *ngIf="transporteurList?.length!==0" class="col-sm-3 d-inline">
        <button [disabled]="disable" (click)="expandContainer()"  nbButton size="small" ><mat-icon class="mr-2">local_shipping</mat-icon> Expedier </button>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Transaction en cours... </p></ngx-spinner>

    <ng2-smart-table [settings]="settings" [source]="this.medicamentList" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>  </nb-card-body>
</nb-card>
