<ion-content>

  <div class="container">

    <div class="header">
      <div class="title">
        <img src="../../../assets/box.svg">
      </div>
      <h3>Bienvenue ! </h3>
      <p> DRUGSCHAINPHCT Transporteur </p>
    </div>
    <div class="text-center">
      <p style="color: red;"> {{this.error}}</p>

    </div>
    <div class="body">
      <form [formGroup]="this.loginForm" (ngSubmit)="onLogin()">

      <ion-list>

        <ion-item>
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-input formControlName="email" placeholder="Email"></ion-input>
            {{this.loginForm.getError("email")}}

        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
       {{this.loginForm.getError("password")}}
        </ion-item>

<div class="row ">
<div class="m-auto col-12">


<div class="text-center">

  <label class="text-center" >
    <input   type="file"   id="image" style="display:none;"  accept="js"  (change)='openFile($event)'>
    <a> <ion-button expand="full" color="light" > <a style="color: #4d4d4d">
        <ion-icon slot="end" name="key-outline"></ion-icon>

        upload private key</a>
   </ion-button></a>
  </label>
</div>

</div>
</div>
        <ion-button type="submit" [disabled]="this.loginForm.invalid" expand="full">Connexion</ion-button>


      </ion-list>
</form>
    </div>

    <div class="footer">
      Vous n'avez pas de compte?   <a routerLink="/auth/register">Inscription</a>
    </div>

  </div>

</ion-content>
