<nb-card>
  <nb-card-header>
    <div class="row p-2">
      <div class="col-sm-0 col-md-5"></div>
      <div class="col-sm-7 ">
    <nb-actions class="folat-right">

      <nb-action> Quantité Demandée  <nb-icon status="danger"  icon="hash-outline"></nb-icon><div>  {{this.qteDemande}}</div></nb-action>
      <nb-action> Quantité placée dans la conteneur  <nb-icon status="danger" icon="hash-outline"></nb-icon><div>{{this.qte}}</div></nb-action>
    </nb-actions>
      </div>
    </div>


    <div *ngIf="this.qteTotal===this.total" class="row">
      <div class="col-sm-12 float-left">
        <div   class="col-sm-7 d-inline-block">
          <p *ngIf="transporteurList?.length===0" class="font-weight-bold text-danger">Aucun Transporteur existe</p>
          <nb-select *ngIf="transporteurList?.length!==0" fullWidth  placeholder="Select Showcase" (selectedChange)="activeBtn($event)" [(selected)]="selectedItem">
            <nb-option  fullWidth *ngFor="let item of this.transporteurList" [value]="item.accountAddress">{{item.username| uppercase}}</nb-option>
          </nb-select>
        </div>
        <div *ngIf="transporteurList?.length!==0" class="col-sm-3 d-inline">
        <button [disabled]="disable" (click)="expandContainer()"  nbButton size="small" ><mat-icon class="mr-2">local_shipping</mat-icon> Expedier </button>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Transaction en cours... </p></ngx-spinner>


    <div *ngIf="this.filteredItems">
      <nb-accordion disabled *ngFor="let medicament of this.filteredItems  ">
        <nb-accordion-item  disabled="true"  #item>
          <nb-accordion-item-header disabled hideToggle="true" class="row" >
            <nb-action class="col-4 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
              <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="medicament.type!=='importer'"     name="{{medicament?.name}}" ></nb-user>

              <div style="font-size:1vw;"  class="ml-3 text-dark d-inline">{{medicament?.name}}</div>

            </nb-action>

                        <nb-action  *ngIf="!!medicament.dateExpiration" class="col-md-2 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                          <a href="javascript:void(0)"  >  <mat-icon class="mr-2" color="primary">event</mat-icon></a>
                          <div  style="font-size:1vw;" class="text-dark">{{medicament?.dateExpiration
                          }}</div>
                        </nb-action>
                        <nb-action *ngIf="!!medicament.dateExpiration"   class="col-md-2 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                          <a href="javascript:void(0)"  (click)="open(dialog1);selectContainerTransaction(medicament)">  <mat-icon class="mr-2" color="warn">timeline</mat-icon></a>
                          <div  style="font-size:1vw;" class="text-dark"> Historique</div>
                        </nb-action>

         <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header><p>Historique</p>   </nb-card-header>
                  <nb-card-body>
                    <div *ngIf="!decodeReceived">
                      <p> Veuillez patienter svp .....</p>
                    </div>
                    <mat-vertical-stepper *ngIf="decodeReceived!=null" [linear]="isLinear" #stepper>




                      <mat-step disabled>
                        <ng-template matStepLabel><p>Historique</p></ng-template>
                        <div>
                          <p *ngIf="!decodeReceived"></p>
                          <div *ngIf="this.decodeReceived">
                            <mat-icon class="d-inline" color="warn">description</mat-icon><div class="font-title d-inline p-2" > Transaction hash:</div> {{this.tx}}<br/>
                            <mat-icon class="d-inline" color="primary">today</mat-icon><div class="d-inline font-title p-2">  Date Transaction:</div>{{decodeReceived.block.timestamp* 1000 | date:"long"}}

                              <br/>
                              <mat-icon class="d-inline" color="primary">business</mat-icon><div class="d-inline font-title p-2">Adresse Fabricants:</div>  {{decodeReceived.owner}}
                              <br/>

                            <mat-icon class="d-inline" color="primary">local_shipping</mat-icon><div class="d-inline font-title p-2">Transporteur:</div>  {{decodeReceived.transporteur}}
                            <br/> <mat-icon class="d-inline" color="warn">whatshot</mat-icon><div class="d-inline font-title p-2"> Temperature:</div> {{decodeReceived.temprature | json}} °C

                            <br/> <mat-icon class="d-inline" color="primary">ac_unit</mat-icon><div class="d-inline font-title p-2"> Humidite:</div> {{decodeReceived.humidite | json}} %
                          </div>
                        </div>
                      </mat-step>
                    </mat-vertical-stepper>
                  </nb-card-body>
                  <nb-card-footer></nb-card-footer>
                </nb-card>
              </ng-template>

            <ng-template #dialog let-data let-ref="dialogRef">
              <nb-card>
                <nb-card-header>Supprimer ?</nb-card-header>
                <nb-card-footer>
                  <button mat-raised-button  color="primary" (click)="confirm(medicament.id);ref.close()">Confirmer</button>

                  <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                </nb-card-footer>
              </nb-card>
            </ng-template>
          </nb-accordion-item-header>
          <nb-accordion-item-body>



              <mat-divider></mat-divider>
              <div class="float-right mt-2">


                         </div>

          </nb-accordion-item-body>
        </nb-accordion-item>



      </nb-accordion>

    </div>
    <div class="text-center " *ngIf="this.filteredItems?.length===0">
      <figure>
        <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
        <figcaption class="text-dark   font-weight-bold">Aucun Produit   </figcaption>

      </figure>

    </div>


                    </nb-card-body>
</nb-card>
