






::ng-deep .mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #161b2d !important;
}





@media screen and (max-width: 420px){
  body {
    font-size : 25px;
  }
}

@media screen and (max-width: 1041px){
  ngx-list-commande , nb-action, div {
    font-size :10px;
    display: none;
  }
}
::ng-deep ng2-st-tbody-edit-delete{
  display:none !important;
}
::ng-deep .nb-theme-default ng2-smart-table th.ng2-smart-actions-title-add a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem !important;
  padding: 0.375rem 0.5rem;
  background: #1a34b8 !important;
  color: #ffffff;
  border-radius: 0.375rem;
}
