

<div style="color:  #4d3fbd !important;" class="text-center font-header mb-2 font-weight-bold ">Bienvenue sur DRUGSCHAINLABE</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Connexion en cours... </p></ngx-spinner>

<form name="loginForm" [formGroup]="loginForm"  (ngSubmit)="onLogin()" novalidate>
    <div *ngIf="error" class="message-box error  mb-4">
      {{error}}
    </div>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-icon matSuffix class="secondary-text">mail</mat-icon>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is required
      </mat-error>
      <mat-error
        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-100" appearance="outline">

      <mat-label>Password </mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error>
        Private key is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="this.jsonFile"  appearance="outline">
      <mat-label>Private key </mat-label>
      <input  matInput [value]="this.loginForm.controls['privateKey'].value" type="password" formControlName="privateKey">
      <mat-icon matSuffix class="secondary-text">fingerprint</mat-icon>
      <mat-error>
        Private key is required
      </mat-error>
    </mat-form-field>
<div class="text-center">
    <label class="upload-button"  >
      <input   type="file"   id="image" style="display:none;"  accept="js" ngFileSelect (change)='openFile($event)'>
    <a mat-raised-button >  <a  href="javascript:void(0)" >       <mat-icon class="d-inline" style="cursor: pointer;    font-size: 30px;" color="primary"

      >publish</mat-icon>
      </a>
      <span class="aligned-with-icon"><small>Importer Cle privée </small></span>
    </a>
    </label>
</div>
  <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
         fxLayoutAlign="space-between center">



    </div>

    <button mat-raised-button color="primary" class="submit-button w-100" aria-label="LOGIN"
            [disabled]="loginForm.invalid">
      Connexion
    </button>

  </form>

  <div class="links">
    <section aria-label="Register" class="another-action"> Vous n'avez pas de compte?
      <a class="link" [routerLink]="'/auth/register'">Créez un compte</a>
    </section>

  </div>
