::ng-deep .reading-block{

  font-size: 22px !important;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

p{
  font-family: 'Oswald', sans-serif;
}
.font-title
{
  font-family: 'Oswald', sans-serif;
}

::ng-deep .nb-theme-default nb-badge {
  color: #ffffff;
  margin-top: -8px;
}
