.avatar{
  margin: auto;
}
.icon {
  display: inline-block;
  font-size: 35px;
  color: #ffC977;
  vertical-align: middle;
}

.text{
  font-family: 'Roboto Condensed', sans-serif;

  display: inline-block;
  vertical-align: middle;
}
.scroll-content {
  overflow-y: hidden !important;
}

ion-content {
  --overflow: hidden !important;
  overflow: no-display;
}

p{
  font-family: 'Roboto Condensed', sans-serif;

}
div{font-family: 'Roboto Condensed', sans-serif;
}
