<!-- Header without a border -->

<ion-card-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-icon name="construct-outline" color="primary" class="icon"></ion-icon>            <span class="text">Profile </span>
        <ion-avatar class="avatar" size="50" >
            <img src="../../../assets/box.svg">
        </ion-avatar>


    </ion-toolbar>
</ion-card-header>
    <ion-card-content
    >

        <ion-list slot="fixed">
         <form [formGroup]="this.profil"   (ngSubmit)="onSave()">

<div class="text-center">

    <p ><ion-icon color="primary" name="globe-outline"></ion-icon> {{this.userDetails.accountAddress}}</p>

</div>

            <ion-item>
                <ion-input (ionChange)="onChange()"  formControlName="username" clearInput type="text" placeholder="Nom d'utilisateur"></ion-input>

            </ion-item>
            <ion-item>
                <ion-input (ionChange)="onChange()" formControlName="email" clearInput type="text" placeholder="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="medium"><p>Changer Mot de passe</p></ion-label>
                <ion-icon name="create-outline" (click)="editPassWord()" color="primary" slot="end"></ion-icon>
            </ion-item>
            <div *ngIf="isActive" [formGroup]="this.passwordForm" (ngSubmit)="changePassword()">
                <ion-item>
                    <ion-input clearInput type="password" formControlName="oldPassword" placeholder="Mot de passe Actuel"></ion-input>

                </ion-item>
                <ion-item>
                    <ion-input type="password" formControlName="newPassword" clearInput  placeholder="Nouveau mot de passe"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-button [disabled]="this.passwordForm.invalid" (click)="changePassword()"  slot="end" color="danger">
                        <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
                        Modifier
                    </ion-button>
                </ion-item>
            </div>
</form>

            <ion-item    text-center>
                <ion-button  [disabled]="this.isChange || this.profil.invalid" (click)="onSave()">
                    <ion-icon  slot="icon-only"   name="save-outline"></ion-icon>
                    Enregister
                </ion-button>
            </ion-item>
        </ion-list>
    </ion-card-content>
