
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>
        <nb-action><mat-icon color="primary">local_pharmacy</mat-icon>Medicaments</nb-action>
        <nb-action  class="float-right p-2 ml-4">
          <button   matTooltip="Ajouter Medicament" routerLink="./ajouter" mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </nb-action>
        <div class="float-right">
          <input #autoInput
                 nbInput
                 type="text"
                 (input)="onChange($event)"
                 placeholder="Recherche par nom"
          />

        </div>


      </nb-card-header>

      <div *ngIf="this.filteredItems">
        <nb-accordion *ngFor="let medicament of this.filteredItems  ">
          <nb-accordion-item   #item>
            <nb-accordion-item-header (click)="getMedicament(medicament)" class="row" >
              <nb-action class="col-4 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="medicament.type==='importer'"  badgeText="Nouveau" picture={{medicament?.photoUrl}}  name="{{medicament?.name}}" badgeStatus="danger" ></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="medicament.stock===0"  badgeText="Hors stock" picture={{medicament?.photoUrl}}  name="{{medicament?.name}}" badgeStatus="warning" ></nb-user>
                <nb-user  class="d-inline p-2 " badgePosition="bottom left" onlyPicture *ngIf="medicament.stock>0 && medicament.type!=='importer' "  badgeText="Disponible" picture={{medicament?.photoUrl}}  name="{{medicament?.name}}" badgeStatus="success" ></nb-user>

                <div style="font-size:1vw;"  class="ml-3 text-dark d-inline">{{medicament?.name}}</div>

              </nb-action>

              <nb-action class="col-2 p-2 ">
                <div  style="font-size:1vw;" *ngIf="medicament.stock!==0" class="text-dark"><mat-icon color="primary">shopping_bag</mat-icon> Quantité : {{medicament?.stock}}</div>
              <div  style="font-size:1vw;" *ngIf="medicament.stock===0" class="text-dark"><mat-icon color="warn">shopping_bag</mat-icon> Quantité : {{medicament?.stock}}</div></nb-action>

              <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Confirmer ? </nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="confirm(medicament.id);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>

              <ng-template #dialog let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Supprimer ?</nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="confirm(medicament.id);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
            </nb-accordion-item-header>
            <nb-accordion-item-body>

                <div class="row"  >

                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Adresse Fabricant</mat-label>
                      <input class="text-dark" matInput disabled value="{{this.fabricants}}">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Adresse Transporteur Fabricants</mat-label>
                      <input class="text-dark" matInput disabled value="{{this.transporteurFabricants}}">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Valeurs Humidite </mat-label>
                      <input class="text-dark"  matInput disabled value="{{this.humiditeOrigine | json}}">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Valeurs Temperature </mat-label>
                      <input class="text-dark"  matInput disabled value="{{this.temperatureOrigine | json}}">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Grossiste</mat-label>
                      <input class="text-dark" matInput disabled value="{{this.grossiste}}">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Forme galenique</mat-label>
                      <input class="text-dark" matInput disabled value="{{this.temperatureGr | json}}">
                    </mat-form-field>
                  </div>

                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Classe Therapeutique</mat-label>
                      <input class="text-dark" matInput disabled value="{{this.humiditeGr | json}}">
                    </mat-form-field>
                  </div>


                </div>
                <div class="row">




                </div>

                <mat-divider></mat-divider>
                <div class="float-right mt-2">


                  <nb-action class=" col-lg-12 col-sm-12 col-xxl-12 col-md-12">
                    <div class="float-right" >
                      <button routerLink="{{medicament.id}}/modifier" mat-mini-fab  matTooltip="Modifier" class="mr-2" color="primary"  aria-label="Example icon-button with a heart icon">
                        <mat-icon>edit</mat-icon>
                      </button>

                      <button mat-mini-fab matTooltip="Supprimer" color="warn" (click)="open(dialog1)" aria-label="Example icon-button with a heart icon">
                        <mat-icon>delete_forever</mat-icon>
                      </button>
                    </div>
                  </nb-action>                </div>

            </nb-accordion-item-body>
          </nb-accordion-item>



        </nb-accordion>

      </div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucune donnée trouvée </figcaption>

        </figure>

      </div>
    </nb-card>

  </div>

</div>

