
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>
        <nb-action><mat-icon color="primary">style</mat-icon>Cartes Rfid</nb-action>
        <nb-action  class="float-right p-2 ml-4">
          <button   matTooltip="Ajouter  Tag " (click)="open(dialog1)" mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </nb-action>
        <div class="float-right">
          <input #autoInput
                 nbInput
                 type="text"
                 (input)="onChange($event)"
                 placeholder="Recherche par Tag"
          />

        </div>


      </nb-card-header>

      <div *ngIf="this.filteredItems">
        <nb-accordion *ngFor="let tag of this.filteredItems  ">
          <nb-accordion-item  disabled  #item>
            <nb-accordion-item-header class="row" >
              <nb-action class="col-4 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
                <nb-user  class="d-inline"  picture="../assets/credit-card.svg"  name="{{tag?.tag}}"></nb-user>


              </nb-action>

              <nb-action class="col-5 p-2 ">
              </nb-action>


              <nb-action class="float-right ml-2 mr-2 " (click)="open(dialogDelete)">

              <div  style="font-size:1vw;" class="text-dark"><mat-icon color="warn">delete_forever</mat-icon></div></nb-action>


              <ng-template #dialogDelete let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Supprimer ?</nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="confirmDelete(tag.id);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
            </nb-accordion-item-header>

          </nb-accordion-item>



        </nb-accordion>

      </div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucune Carte trouvée </figcaption>

        </figure>

      </div>
    </nb-card>

  </div>

</div>

<ng-template #dialog1 let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Ajouter Tag ? </nb-card-header>
    <nb-card-body>
      <input nbInput [(ngModel)]="tag" placeholder="Tag Rfid " />
      <p style="color: red"> {{this.errors}}</p>
    </nb-card-body>
    <nb-card-footer>
      <button mat-raised-button  color="primary" (click)="confirm();ref.close()">Confirmer</button>

      <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
