.icon {
  display: inline-block;
  font-size: 35px;
  color: #ffC977;
  vertical-align: middle;
}

.text{
  font-family: 'Roboto Condensed', sans-serif;

  display: inline-block;
  vertical-align: middle;
}
p{
  font-family: 'Roboto Condensed', sans-serif;

}
div{font-family: 'Roboto Condensed', sans-serif;
}
