
<nb-card size="medium  p-5">
<nb-card-header>
  <nb-icon icon="eye-outline" status="primary"></nb-icon> Commandes analytics </nb-card-header>
  <div class="row">

  </div>
  <nb-tabset (changeTab)="activate($event)">
    <nb-tab tabTitle="Commandes" (change)="activate('commande')">
      Tab content 1

  <nb-card-body *ngIf="!!this.list">


    <ngx-charts-bar-vertical  *ngIf="this.commandeArea"  [animations]="true"

      [view]="view"
      [scheme]="colorScheme"
      [results]="this.single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </nb-card-body>
    </nb-tab>
<nb-tab   tabTitle="Clients" >
<ngx-charts-pie-chart *ngIf="this.clientArea"  [animations]="true"

                       [view]="view"
                       [scheme]="colorScheme"
                       [results]="this.clientData"
                       [gradient]="gradient"
                       [legend]="showLegend"

                       (select)="onSelect($event)" ></ngx-charts-pie-chart>
</nb-tab>
    <nb-tab tabTitle="Transporteurs" >
      <ngx-charts-pie-chart *ngIf="transporteurArea"   [animations]="true"

                             [view]="view"
                             [scheme]="colorScheme"
                             [results]="this.transporteurData"
                             [gradient]="gradient"
                             [legend]="showLegend"

                             (select)="onSelect($event)" ></ngx-charts-pie-chart>
    </nb-tab>

  </nb-tabset>
</nb-card>
