
<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white;display: inline;margin-top: 5px" >  Transaction  Encours .... </p></ngx-spinner>

        <nb-action><mat-icon color="primary">people_alt</mat-icon>Client</nb-action>
        <div class="float-right">
          <input #autoInput
                 nbInput
                 type="text"
                 (input)="onChange($event)"
                 placeholder="Recherche par nom"
          />

        </div>
        <nb-action hidden class="float-right">
          <button   matTooltip="Ajouter Client" mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </nb-action>

      </nb-card-header>

      <div *ngIf="this.filteredItems">
        <nb-accordion *ngFor="let user of this.filteredItems ">

          <nb-accordion-item    #item>
            <nb-accordion-item-header class="row" >
              <nb-action class="col-4 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
                <ngx-avatar  class="d-inline" [size]="40" name="{{user?.username}}"></ngx-avatar>

                <div style="font-size:1vw;"  class="ml-3 text-dark d-inline">{{user.username}}</div>

              </nb-action>

              <nb-action class="col-4 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                <mat-icon class="mr-2" color="primary">mail</mat-icon>
                <div  style="font-size:1vw;" class="text-dark">{{user.email}}</div>

              </nb-action>
              <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Confirmer ? </nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="ref.close();delete(user.id,user.accountAddress);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
              <ng-template #dialog2 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Confirmer ? </nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="block(user);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
              <ng-template #dialog let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Supprimer ?</nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="confirm(user.id);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <form >
                <div class="row">

                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Name</mat-label>
                      <input class="text-dark" matInput disabled value="{{user?.username}}">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3 col-lg-3 col-md-3 col-xxl-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input class="text-dark" matInput disabled value="{{user?.email}}">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6 col-lg-6 col-md-6 col-xxl-6">
                    <mat-form-field style="width: 450px">
                      <mat-label>Adresse</mat-label>
                      <input class="text-dark"  matInput disabled value="{{user?.accountAddress}}">
                    </mat-form-field>
                  </div>






                </div>
                <mat-divider></mat-divider>
                <div class="float-right mt-2">


                  <nb-action class=" col-lg-12 col-sm-12 col-xxl-12 col-md-12">
                    <div class="float-right" >

                      <button mat-mini-fab matTooltip="Bloquer" type="button" color="warn" class="mr-2" (click)="open(dialog2)" aria-label="Example icon-button with a heart icon">
                        <mat-icon>block</mat-icon>
                      </button>
                      <button type="button" mat-mini-fab matTooltip="delete" color="warn" (click)="open(dialog1)" aria-label="Example icon-button with a heart icon">
                        <mat-icon>delete_forever</mat-icon>
                      </button>
                    </div>
                  </nb-action>                </div>
              </form>

            </nb-accordion-item-body>
          </nb-accordion-item>



        </nb-accordion>

      </div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
        <figure>
          <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
          <figcaption class="text-dark   font-weight-bold">Aucun Client trouvée </figcaption>

        </figure>

      </div>
    </nb-card>

  </div>

</div>

