body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

p{
  color: #1a2138;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}
.widthInput{

  max-width: 100px !important;
}
nb-action{
  font-size: 1pc;
}
@media only screen and (max-width: 320px) {

  nb-action {
    font-size: 0.5em !important;
  }

}

.stock-red{
  color: red;
}


