

<nb-card>
  <nb-card-header>

    Panier
  </nb-card-header>

  <nb-card-body>

    <div *ngIf="this.list?.length" class="container mb-4">

      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead style="border: 0px">
              <tr>
                <th scope="col"> </th>
                <th scope="col">Medicament</th>
                <th scope="col">Dispo.</th>
                <th scope="col" >Prix Unitaire</th>

                <th scope="col" class="text-center">Quantité</th>
                <th scope="col" class="text-right">Total </th>

                <th> </th>
              </tr>
              </thead>
              <tbody  *ngIf="this.panierForm"  >
              <tr *ngFor="let bag of this.panierForm.controls ;let i=index;"

              >
                <td      >
                  <a routerLink="../{{bag.get('id').value}}/details">  <nb-user size="large" onlyPicture

                                                                                [picture]="bag.get('photoUrl').value"></nb-user></a>

                </td>
                <td   >{{bag.get('name').value}}</td>
                <td   class="text-success" *ngIf="bag.get('stock').value > 0" >In stock</td>
                <td   class="text-danger" *ngIf="bag.get('stock').value<0" >Non disponible </td>


                <td>{{bag.get('medicamentPrice').value}}</td>  <td   style="  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
"><input class="  widthInput mr-2" nbInput    [formControl]="quantity"    type="number" value="{{bag.get('quantity').value}}" />
                <nb-action  (click)="edit(bag)" *ngIf="bag.get('stock').value >= this.quantity.value" class="d-inline text-primary"  icon="edit" ></nb-action>
                <nb-action  *ngIf="bag.get('stock').value<this.quantity.value" class="d-inline text-danger" disabled icon="edit"></nb-action>


              </td>
                <td class="text-right">{{bag.get('medicamentPrice').value * bag.get('quantity').value}} DT</td>
                <td class="text-right"><a  (click)="delete(bag)" href="javascript:void(0)" ><nb-icon status="danger" icon="trash"></nb-icon></a>  </td>

              </tr>

              <tr ><td colspan="4"></td><td colspan="2" style="  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
" >{{this.totalPrice}}</td></tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="col mb-2">
          <div class="row">
            <div class="col-sm-12  col-md-6">
              <button routerLink="../" nbButton class="btn btn-block btn-light">Continuer vos achats</button>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
              <button nbButton [routerLink]="['../checkout']" class="btn btn-block btn-light">Check-out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center " *ngIf="this.list?.length===0">
      <figure>
        <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
        <figcaption class="text-dark   font-weight-bold">Aucune donnée trouvée </figcaption>

      </figure>

    </div>
  </nb-card-body>
</nb-card>
