<!-- Header without a border -->

<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard/container"></ion-back-button>
        </ion-buttons>
        <ngx-avatar src="../../../assets/details.svg"  class="d-inline-flex"></ngx-avatar>
        <span class="text">Livraison Details</span>

    </ion-toolbar>
</ion-header>
<div class="row">
    <div class="col-12 ">
        <div class="float-right p-3" *ngIf="!!this.containerDetails&&this.containerDetails.state!=='Received'">
            <ion-button (click)="presentAlertConfirm()" [disabled]="this.containerDetails.state==='InTransit' &&this.containerDetails.state!=='Expedie'" size="small">
                Charger
                <ion-icon slot="end" name="download-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="containerConfirm()" [disabled]="this.containerDetails.state!=='InTransit'  " color="danger" size="small">
                Terminer Livraison
                <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
            </ion-button>

        </div>
    </div>

</div>
<ion-item-divider></ion-item-divider>
<ion-content *ngIf="this.tagContainer">
    <ion-content fullscreen>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type ="ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Veuillez patienter Transaction Encours... </p></ngx-spinner>

        <ion-item>
    <h5 class="mr-2"> <p>Tag Container:</p></h5><p class="mt-1 text-secondary">{{this.tagContainer}}</p>
</ion-item>
        <ion-item>
            <h5 class="mr-2"> <p>Reference:</p></h5><p class="mt-1 text-secondary">{{this.containerDetails.commandeRef}}</p>

        </ion-item>
        <ion-item>
            <h5 class="mr-2"> <p>Grossiste Address:</p></h5><p class="mt-1 text-secondary">{{this.containerDetails.grossisteAddress}}</p>
        </ion-item>
        <ion-item>
            <h5 class="mr-2"> <p>Adresse Destination:</p></h5><p class="mt-1 text-secondary">{{this.containerDetails.destinationAddress}}</p>
        </ion-item>
        <ion-item>
            <h5 class="mr-2"> <p> Seuil d'alert temperature :</p></h5><p class="mt-1 text-secondary">{{this.containerDetails.seuilTemperature}} °C</p>
        </ion-item>
        <ion-item>
            <h5 class="mr-2"> <p> Seuil d'alert humidité :</p></h5><p class="mt-1 text-secondary">{{this.containerDetails.seuilHumidite}}%</p>
        </ion-item>

    </ion-content>
</ion-content>
