

<ngx-spinner bdColor= "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p  > Inscription encours... </p></ngx-spinner>
  <mat-card >
    <div style="color:  #4d3fbd !important;" class="text-center font-header mb-2 font-weight-bold ">
      <h6 class="font-header"> BIENVENUE SUR DRUGSCHAINPHE </h6></div>

  <form name="registerForm" [formGroup]="registerForm" (ngSubmit)="createAccount()" novalidate>
    <div *ngIf="errors && errors.length > 0 " class="alert alert-danger" role="alert">
      <div><strong>Oh snap!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div class="col-12">


<div class="row">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>User name</mat-label>
      <input matInput formControlName="username">
      <mat-icon matSuffix color="primary" class="secondary-text">account_circle</mat-icon>
      <mat-error>
        username is required
      </mat-error>
    </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-icon matSuffix color="primary" class="secondary-text">mail</mat-icon>
      <mat-error *ngIf="registerForm.get('email').hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password </mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix color="primary" class="secondary-text">vpn_key</mat-icon>
      <mat-error>
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>passwordConfirm </mat-label>
      <input matInput type="password"  formControlName="passwordConfirm">
      <mat-icon matSuffix color="primary" class="secondary-text">vpn_key</mat-icon>
      <mat-error>
        Password key not valid
      </mat-error>
    </mat-form-field>
  <button  mat-raised-button color="primary" class="submit-button w-100" aria-label="CREATE AN ACCOUNT"
           [disabled]="registerForm.invalid">
    Inscription
  </button>
  </div>

  </div>




  </form>

  <div class="links">
    <section aria-label="Register" class="another-action font-header"> Vous avez déjà un compte?
      <a class="link" [routerLink]="'/auth/login'">S'identifier?</a>
    </section>
  </div>
  </mat-card>
