<ion-menu side="start" content-id="main-content">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="light">
        <ion-menu-toggle auto-hide="false"  *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" color="light">
                <ion-icon slot="start" [name]="p.icon" color="dark"></ion-icon>
                <ion-icon *ngIf="p.url==='logout'" color="primary" (click)="logout()" name="exit-outline"></ion-icon>
                <ion-label *ngIf="p.url==='logout'" (click)="logout()">
                    {{p.title}}
                </ion-label>
                <ion-label *ngIf="p.url!=='logout'" >
                    {{p.title}}
                </ion-label>
            </ion-item>
        </ion-menu-toggle>


    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title color="Light">DrugsChainTE</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content  >

        <router-outlet main></router-outlet>
    </ion-content>
</div>

