@import '../@theme/styles/themes';
::ng-deep nb-card{
  background: white;
}
::ng-deep nb-card{
  background-image: none;
}
::ng-deep .nb-theme-dark ng2-smart-table th.ng2-smart-actions-title-add a{

  background: #606880 !important;
}
::ng-deep nb-layout-column{
}
::ng-deep .text-dark{
  color: white !important;
}
::ng-deep .mat-menu-panel {
  background: #222b45 !important;
}
::ng-deep .swal2-title{
  color:black !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white !important;
}
::ng-deep .table{
  color:white !important;
}
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
::ng-deep nb-card-header{
  display: initial !important;
}
