@import '../@theme/styles/themes';
::ng-deep nb-card{
  background: white;
}

::ng-deep .mat-card {
  background: #222b45;
  color: rgba(255, 251, 251, 0.87);
}

::ng-deep .card-body{
background: #222b45;
}

::ng-deep .table{
  color: white !important;
}
::ng-deep .mat-menu-panel {
  background: #222b45 !important;
}
::ng-deep .text-dark{
  color: white !important;
}
::ng-deep nb-layout-column{
  padding: 2.25rem 2.25rem 0.75rem !important;
  }
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
