<!-- Header without a border -->

<ion-card-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ngx-avatar src="../../../assets/ship.svg"  class="d-inline-flex"></ngx-avatar>
                    <span class="text d-inline ml-2">Livraison des conteneurs</span>
      <div *ngIf="!!this.filteredItems" class="text-center pt-4  mt-4">
          <ion-select class="font-weight-bold" (ionChange)="onSelectChange($event)" [compareWith]="compareWith" selectedText="{{SelectedYearIdValue}}" >
              <ion-select-option  *ngFor="let item of state" [value]="item">{{item.name}}
              </ion-select-option>
          </ion-select>
        <p> </p>
      </div>
    </ion-toolbar>
    <ion-item-divider ></ion-item-divider>

</ion-card-header>

    <ion-list *ngIf="!!this.filteredItems">

        <div *ngFor="let item of this.filteredItems">
            <ion-item  [routerLink]="'./'+item.commandeRef+'/detail'">
                <ion-avatar class="mr-4 pr-4" slot="start">
                    <ngx-avatar  src="../../../assets/package.svg"></ngx-avatar>
                </ion-avatar>
                <div class="ml-3">
                    <ion-label>
                        <h2><p><span class="font-weight-bold"> Tag conteneur :</span> {{item.tagContainer}}</p></h2>
                        <h3><p><span class="font-weight-bold" > Réference :</span>{{item.commandeRef}}</p></h3>
                        <p><span class="font-weight-bold"> Destination :</span> {{item.destinationAddress}}</p>
                    </ion-label>
                </div>

            </ion-item>

        </div>



        </ion-list>
<div class="text-center " *ngIf="this.filteredItems.length===0">
    <figure>
        <img style="height:150px !important;" src="assets/not-found.svg" class="img-fluid" alt="Responsive image">
        <figcaption class="text-dark   font-weight-bold">Aucun conteneur trouvée </figcaption>

    </figure>

</div>
