<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white;display: inline;margin-top: 5px" >  Transaction  encours... </p></ngx-spinner>


<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>
        <nb-action><mat-icon color="warn">remove_circle</mat-icon>Liste des Blocages</nb-action>
        <div class="float-right">
          <input #autoInput
                 nbInput
                 type="text"
                 (input)="onChange($event)"
                 placeholder="Recherche par nom"
          />

        </div>
        <nb-action hidden class="float-right">
          <button   matTooltip="Ajouter Client" mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </nb-action>

      </nb-card-header>

      <div *ngIf="this.filteredItems">
        <nb-accordion *ngFor="let user of this.filteredItems">
          <nb-accordion-item disabled hideToggle="true"  #item>
            <nb-accordion-item-header class="row" >
              <nb-action class="col-4 mr-sm-2 mr-lg-2 mr-xl-2 p-2">
                <ngx-avatar  class="d-inline" [size]="40" name="{{user?.username}}"></ngx-avatar>

                <div style="font-size:1vw;"  class="ml-3 text-dark d-inline">{{user.username}}</div>

              </nb-action>

              <nb-action class="col-4 p-2 ml-sm-2 ml-lg-2 ml-xl-2 mr-sm-2 mr-lg-2 mr-xl-2">
                <mat-icon class="mr-2" color="primary">mail</mat-icon>
                <div  style="font-size:1vw;" class="text-dark">{{user.email}}</div>

              </nb-action>
              <nb-action class=" col-2 ">
                <div class="float-right" >
                  <button mat-mini-fab  matTooltip="Débloquer" class="mr-2" color="warn" (click)="open(dialog1)"  aria-label="Example icon-button with a heart icon">
                    <mat-icon>lock_open</mat-icon>
                  </button>

                </div>
              </nb-action>
              <ng-template #dialog1 let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Confirmer ? </nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="debloquer(user);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>

              <ng-template #dialog let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Supprimer ?</nb-card-header>
                  <nb-card-footer>
                    <button mat-raised-button  color="primary" (click)="confirm(user.id);ref.close()">Confirmer</button>

                    <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
            </nb-accordion-item-header>
          </nb-accordion-item>



        </nb-accordion>

      </div>
      <div class="text-center " *ngIf="this.filteredItems?.length===0">
       <figure>
        <img style="height:150px !important;" src="../../../../assets/images/not-found1.svg" class="img-fluid" alt="Responsive image">
         <figcaption class="text-dark   font-weight-bold">Aucun client trouvée </figcaption>

       </figure>

      </div>
    </nb-card>

  </div>

</div>

