<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="mt-2" class="avatar-container">
          <label for="image">
            <input type="file"  name="image"(change)="onFileChanged($event)" (input)="Onchange($event)" id="image" style="display:none;"/>
            <a > <img *ngIf="!this.picture" class=" mt-3 avatar-img" src="../../../../assets/images/people.svg"></a>
            <a >

              <img class=" mt-3 avatar-img"  *ngIf="!!this.picture" [src]="this.picture"></a>
            <div><mat-icon style="z-index: 1; color: #3d324c !important;
    margin-top: -20px;
    font-size: 40px;
    " color="primary">add_a_photo</mat-icon></div>
          </label>
          <h6>{{this.profileForm.controls["username"].value}}</h6>

          <small    class="font-weight-bold"> <mat-icon color="primary"  matTooltip='copier votre adresse publique' (click)="copyText(publicKey)">file_copy</mat-icon>  {{publicKey}}</small>

        </div>
      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="this.profileForm"   (ngSubmit)="onSave()">
          <div class="row">
            <div class="col-sm-4 ml-5">

            </div>
            <div class="col-sm-3 ">

            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label text-dark">Nom</label>
                <input type="text" nbInput fullWidth (input)="Onchange($event)"  formControlName="username" id="inputFirstName" placeholder="Nom">
                <mat-error *ngFor="let validation of validation_messages.name">
                  <mat-error class="error-message" *ngIf="profileForm.get('username').hasError(validation.type) &&
                                                   (profileForm.get('username').dirty ||
                                                   profileForm.get('username').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="formeGalenique"  class="label text-dark">Telephone</label>
                <input type="text" (input)="Onchange($event)" formControlName="telephone" nbInput fullWidth id="formeGalenique" placeholder="Telephone">
                <mat-error *ngFor="let validation of validation_messages.formegalenique">
                  <mat-error class="error-message" *ngIf="profileForm.get('telephone').hasError(validation.type) &&
                                                   (profileForm.get('telephone').dirty ||
                                                   profileForm.get('telephone').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="formeGalenique" class="label text-dark">Email</label>
                <input type="text" (input)="Onchange($event)" formControlName="email" nbInput fullWidth  placeholder="Email">
                <mat-error *ngFor="let validation of validation_messages.formegalenique">
                  <mat-error class="error-message" *ngIf="profileForm.get('email').hasError(validation.type) &&
                                                   (profileForm.get('email').dirty ||
                                                   profileForm.get('email').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>


            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputIndicaton"  class="label text-dark">Adresse</label>
                <textarea (input)="Onchange($event)" nbInput fullWidth formControlName="address" id="inputIndicaton" placeholder="Adresse"></textarea>
                <mat-error *ngFor="let validation of validation_messages.indication">
                  <mat-error class="error-message" *ngIf="profileForm.get('address').hasError(validation.type) &&
                                                   (profileForm.get('address').dirty ||
                                                   profileForm.get('address').touched)"
                  >
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </div>
            </div>




          </div>
        
      
          <div class="text-center">
            <button type="submit"  [disabled]="disable"  nbButton><nb-icon icon="save-outline" ></nb-icon> Enregister</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>


