
<div class="container" #content class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row  ">
            <div class="col-12">
            <div class="float-right pt-3 pr-3 content"  >
          <button  nbButton (click)="makePdf()" >Telecharger</button>
            </div>         </div></div>
          <hr >

          <div   class="row pb-5 p-5">
            <div class="col-md-6">
              <p class="font-weight-bold mb-4"> </p>
              <p class="mb-1">{{this.username}}</p>
              <p>email : {{this.email}}</p>
              <p class="mb-1">{{this.telephone}}</p>
              <p class="mb-1">{{this.address}}</p>
            </div>

            <div class="col-md-6 text-right">
              <img width="50px"  height="50px" src="https://www.trimeche.labo.tn/images/logo.png">
            </div>
          </div>

          <div class="row p-5">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                  <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                  <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                  <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                  <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                  <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of this.list">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.marque}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.medicamentPrice}}</td>
                  <td>{{item.quantity * item.medicamentPrice }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><p class="font-weight-bold">{{this.prixTotal}}</p></td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


</div>



