<nb-card>
  <nb-card-header>
  <mat-icon color="primary">class</mat-icon>  Classe Therapeutique
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>  </nb-card-body>
</nb-card>
<ng-template #dialog1 let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirmer ? </nb-card-header>
    <nb-card-footer>
      <button mat-raised-button  color="primary" (click)="confirm();ref.close()">Confirmer</button>

      <button mat-raised-button  class="ml-2" color="warn" (click)="ref.close()">Annuler</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
